## DATA CLEANING AND IMPUTATION

In [1]:
import pandas as pd
import datetime
import numpy as np
pd.set_option("display.max_columns",999)
pd.set_option("display.max_rows",999)
import warnings
warnings.filterwarnings('ignore')

In [2]:
lease = pd.read_csv('lease_sept.csv', low_memory=False, 
                    keep_default_na = True, index = False).drop(columns='Unnamed: 0')  #data same from rds

In [3]:
lease.describe().T

,count,mean,std,min,25%,50%,75%,max
leasedeal_id,1067141.0,9.127985e+07,4.085930e+07,1.000002e+07,7.010694e+07,1.113457e+08,1.135171e+08,1.873890e+08
property_id,1067141.0,1.271110e+06,2.235648e+06,1.000000e+00,1.787400e+05,3.816730e+05,7.981200e+05,1.160575e+07
renewal,219610.0,7.202814e-01,4.488619e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
sqft_min,589103.0,2.848921e+03,5.631973e+03,1.000000e+00,8.970000e+02,1.514000e+03,2.895000e+03,4.969840e+05
sqft_max,589103.0,3.150560e+03,6.351686e+03,1.000000e+00,9.190000e+02,1.600000e+03,3.085000e+03,4.969840e+05
days_on_market,589103.0,5.955989e+02,6.808799e+02,0.000000e+00,1.820000e+02,3.650000e+02,8.200000e+02,1.150600e+04
actual_vacancy,589103.0,8.752323e-01,3.304556e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
lease_term_inmonths,1067141.0,4.800054e+01,3.982621e+01,-3.950000e+02,2.400000e+01,3.600000e+01,6.000000e+01,1.236000e+03
rate_actual,219743.0,2.238252e+01,3.506006e+02,0.000000e+00,1.200000e+01,1.620000e+01,2.200000e+01,8.400000e+04
estimated_rent,928206.0,2.274745e+01,1.093183e+01,1.060077e+00,1.626206e+01,2.019501e+01,2.584223e+01,1.222861e+03
service_type_id,832081.0,8.260207e+00,2.825309e+00,1.000000e+00,7.000000e+00,7.000000e+00,1.000000e+01,1.900000e+01
property_type_id,1067141.0,5.000000e+00,0.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
location_occupancy_id,1067141.0,1.002586e+08,5.300930e+07,1.000002e+07,7.010895e+07,1.141161e+08,1.216304e+08,2.842046e+08
rba,1042346.0,5.359954e+03,1.729246e+04,0.000000e+00,1.020000e+03,2.000000e+03,4.230000e+03,2.000000e+06
tenantimprovementallowancepersqft,22619.0,1.149667e+01,2.003360e+02,-1.300000e+02,0.000000e+00,0.000000e+00,0.000000e+00,9.355000e+03
free_months,138931.0,1.585866e+00,1.781759e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.850000e+02
construction_year,1049636.0,1.973884e+03,2.694751e+01,1.719000e+03,1.970000e+03,1.982000e+03,1.988000e+03,2.022000e+03
buildingrating_id,1067141.0,2.903536e+00,8.034371e-01,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00
cbsaid,1065030.0,2.945152e+04,1.141620e+04,1.010000e+04,1.910000e+04,3.108400e+04,3.830000e+04,4.982000e+04
zip,921617.0,5.346591e+04,3.131148e+04,1.001000e+03,2.741000e+04,5.371900e+04,8.501200e+04,9.980100e+04

### Drop lease_term_in_months and tenant_improvement rows with negative values

In [4]:
#Drop the rows with negative lease_term_in_months
lease = lease[~(lease['lease_term_inmonths'] < 0)]

#Drop the rows with negative values of tenant improvement allowance
lease = lease[~(lease['tenantimprovementallowancepersqft'] < 0)]

In [5]:
lease.shape

(1066721, 30)

### Drop rows with null cbsaid's

In [6]:
lease[lease['cbsaid'].isnull()].shape

(2110, 30)

In [7]:
#Drop the rows with null values of cbsaid
lease = lease[~(lease['cbsaid'].isnull())]

In [8]:
print(lease.shape)
lease.head(2)

(1064611, 30)

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_inmonths,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenantimprovementallowancepersqft,free_months,construction_year,buildingrating_id,researchmarket_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip
0,110498312,157648,NaN,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0
1,30028220,76048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,NaN,28140.0,Kansas City,MO-KS,NaN,NaN

In [9]:
lease.describe().T

,count,mean,std,min,25%,50%,75%,max
leasedeal_id,1064611.0,9.120549e+07,4.086674e+07,1.000002e+07,7.010358e+07,1.113392e+08,1.135138e+08,1.873890e+08
property_id,1064611.0,1.258406e+06,2.218551e+06,1.000000e+00,1.786120e+05,3.815250e+05,7.907360e+05,1.158921e+07
renewal,219185.0,7.199078e-01,4.490451e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
sqft_min,587983.0,2.851286e+03,5.636611e+03,1.000000e+00,8.980000e+02,1.516000e+03,2.898000e+03,4.969840e+05
sqft_max,587983.0,3.153297e+03,6.356943e+03,1.000000e+00,9.200000e+02,1.600000e+03,3.088000e+03,4.969840e+05
days_on_market,587983.0,5.957025e+02,6.811077e+02,0.000000e+00,1.820000e+02,3.650000e+02,8.200000e+02,1.150600e+04
actual_vacancy,587983.0,8.752192e-01,3.304705e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
lease_term_inmonths,1064611.0,4.804730e+01,3.980225e+01,0.000000e+00,2.400000e+01,3.600000e+01,6.000000e+01,1.236000e+03
rate_actual,218534.0,2.244167e+01,3.515678e+02,0.000000e+00,1.200000e+01,1.620000e+01,2.200000e+01,8.400000e+04
estimated_rent,926196.0,2.276293e+01,1.093667e+01,1.060077e+00,1.627520e+01,2.021144e+01,2.585666e+01,1.222861e+03
service_type_id,830130.0,8.259985e+00,2.825160e+00,1.000000e+00,7.000000e+00,7.000000e+00,1.000000e+01,1.900000e+01
property_type_id,1064611.0,5.000000e+00,0.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
location_occupancy_id,1064611.0,1.001532e+08,5.297005e+07,1.000002e+07,7.010590e+07,1.141038e+08,1.216204e+08,2.842046e+08
rba,1039816.0,5.364410e+03,1.730950e+04,0.000000e+00,1.020000e+03,2.000000e+03,4.232000e+03,2.000000e+06
tenantimprovementallowancepersqft,22571.0,1.152772e+01,2.005460e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.355000e+03
free_months,138511.0,1.587073e+00,1.783785e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.850000e+02
construction_year,1047792.0,1.973889e+03,2.692874e+01,1.719000e+03,1.970000e+03,1.982000e+03,1.988000e+03,2.022000e+03
buildingrating_id,1064611.0,2.905177e+00,8.031330e-01,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00
cbsaid,1064611.0,2.945130e+04,1.141634e+04,1.010000e+04,1.910000e+04,3.108400e+04,3.830000e+04,4.982000e+04
zip,919661.0,5.347651e+04,3.132133e+04,1.001000e+03,2.741000e+04,5.371900e+04,8.501200e+04,9.980100e+04

In [10]:
lease.columns

Index(['leasedeal_id', 'property_id', 'renewal', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'from_date', 'to_date', 'lease_sign_date', 'lease_expiration_date',
       'lease_term_inmonths', 'rate_actual', 'estimated_rent',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenantimprovementallowancepersqft', 'free_months', 'construction_year',
       'buildingrating_id', 'researchmarket_name', 'cbsaid', 'cbsa_cities',
       'cbsa_states', 'submarket_name', 'zip'],
      dtype='object')

### Rename columns

In [11]:
#renaming column names
lease.columns = ['leasedeal_id', 'property_id', 'renewal', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'from_date', 'to_date', 'lease_sign_date', 'lease_expiration_date',
       'lease_term_in_months', 'rate_actual', 'estimated_rent',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenant_improvement_allowance_persqft', 'free_months', 'construction_year',
       'building_rating_id', 'research_market_name', 'cbsaid', 'cbsa_cities',
       'cbsa_states', 'submarket_name', 'zip']

### Filling null submarket data using property id's

In [12]:
#check how many submarket_name are null
lease[lease['submarket_name'].isnull()].shape

(164742, 30)

In [13]:
#fill the null submarket rows using which same property id's have submarket values in them 
#and then filling nulls using the ones that have value in them
propertyid = lease.property_id[lease['submarket_name'].isnull()].unique()#getting all the prop where submarket is null

property_submarket = lease[lease['property_id'].isin(propertyid) & (lease['submarket_name'].notnull())][['property_id', 'submarket_name']].\
      groupby(['property_id', 'submarket_name']).size().reset_index()#size counts the number of rows

lease = pd.merge(lease, property_submarket, on='property_id', how='left')#creates two submarket columns from both df's
lease['submarket_name_x'].fillna(lease['submarket_name_y'], inplace=True)
lease.drop( ['submarket_name_y', 0], axis=1, inplace=True)

lease.rename(columns={'submarket_name_x': 'submarket_name'}, inplace=True)
lease[lease['submarket_name'].isnull()].shape
lease.head()

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip
0,110498312,157648,NaN,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0
1,30028220,76048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,NaN,28140.0,Kansas City,MO-KS,Ward Parkway,NaN
2,30187227,559441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986-01-15,2000-03-14,1985-12-16,2000-03-14,170.0,NaN,NaN,NaN,5,30187227,NaN,NaN,NaN,1985.0,2,NaN,28140.0,Kansas City,MO-KS,I-29 Corridor,NaN
3,114096677,239837,NaN,1388.0,1388.0,2013-12-31,2014-03-31,90.0,1.0,2014-02-14,2015-02-12,2014-01-15,2015-02-13,12.0,NaN,18.914058,7.0,5,122849533,1388.0,NaN,NaN,1972.0,2,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.0
4,10587417,220914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-06-30,NaN,2001-05-01,2006-06-30,60.0,NaN,21.278033,NaN,5,10587417,7200.0,NaN,NaN,1906.0,2,Boston,14460.0,Boston-Cambridge-Newton,MA-NH,Route 3 South,2382.0

In [14]:
#now lets see how many nulls are left
lease[lease['submarket_name'].isnull()].shape

(50480, 30)

### Filling null zip data using property id's

In [15]:
#Check how many zip are null
lease[lease['zip'].isnull()].shape

(144950, 30)

In [16]:
propertyid = lease.property_id[lease['zip'].isnull()].unique()

property_zip = lease[lease['property_id'].isin(propertyid) & (lease['zip'].notnull())][['property_id', 'zip']].\
    groupby(['property_id', 'zip']).size().reset_index()
property_zip

lease = pd.merge(lease, property_zip, on='property_id', how='left')
lease['zip_x'].fillna(lease['zip_y'], inplace=True)
lease.drop(['zip_y', 0], axis=1, inplace=True)
lease.rename(columns={'zip_x': 'zip'}, inplace=True)
lease[lease['zip'].isnull()].shape

(30022, 30)

### Filling null researchmarket_name data using property id's

In [17]:
lease[lease['research_market_name'].isnull()].shape

(144950, 30)

In [18]:
#fill the null researchmarket_name using which same property id's have researchmarket_name in them 
#and then filling nulls using the ones that have value in them
propertyid = lease.property_id[lease['research_market_name'].isnull()].unique()

property_research = lease[lease['property_id'].isin(propertyid) & (lease['research_market_name'].notnull())][['property_id', 'research_market_name']].\
    groupby(['property_id', 'research_market_name']).size().reset_index() #this gives a df with property id having research id
#Joining the two df's
lease = pd.merge(lease, property_research, on='property_id', how='left')
lease['research_market_name_x'].fillna(lease['research_market_name_y'], inplace=True)
lease.drop(['research_market_name_y', 0], axis=1, inplace=True)
lease.rename(columns={'research_market_name_x': 'research_market_name'}, inplace=True)
#Check how many null rows are left
lease[lease['research_market_name'].isnull()].shape

(30022, 30)

### Filling null construction_year data using property id's
Could not fill the values as there are no alternate values of contruction_year to fill values for same property_id's

In [19]:
lease['construction_year'].isnull().sum() #[['sqft_min', 'sqft_max', 'rba']]

16819

In [20]:
propertyid = lease.property_id[lease['construction_year'].isnull()].unique()#prop where const year is null

property_const = lease[lease['property_id'].isin(propertyid) & (lease['construction_year'].notnull())][['property_id', 'construction_year']].\
      groupby(['property_id', 'construction_year']).size().reset_index()
property_const

Empty DataFrame
Columns: [property_id, construction_year, 0]
Index: []

### Function to change from object type to time stamp

In [21]:
#function to change to timestamp format for calculations later
def standard_ts_format(df, col, dt_format):
    return pd.to_datetime(df[col], format=dt_format)

In [22]:
lease['date_on_market'] = standard_ts_format(lease, 'date_on_market', '%Y-%m-%d') 
lease['date_off_market'] = standard_ts_format(lease, 'date_off_market', '%Y-%m-%d')
 
lease['from_date'] = standard_ts_format(lease, 'from_date', '%Y-%m-%d')
lease['to_date'] = standard_ts_format(lease, 'to_date','%Y-%m-%d')
lease['lease_sign_date'] = standard_ts_format(lease, 'lease_sign_date','%Y-%m-%d')
lease['lease_expiration_date'] = standard_ts_format(lease, 'lease_expiration_date','%Y-%m-%d')

lease['currently_occupied_fl'] = lease[['to_date']].apply(lambda x: 'N' if (pd.notnull(x['to_date'])) else 'Y', axis=1)
lease.head(2)

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl
0,110498312,157648,NaN,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N
1,30028220,76048,NaN,NaN,NaN,NaT,NaT,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N

### Created three new rows to extract years

In [23]:
lease['year_on_market'] = pd.DatetimeIndex(lease['date_on_market']).year.astype('Int64')
lease['year_off_market'] = pd.DatetimeIndex(lease['date_off_market']).year.astype('Int64')
lease['days_on_market'] = (pd.DatetimeIndex(lease['date_off_market']) - pd.DatetimeIndex(lease['date_on_market'])).days

## Function to fill in missing values in from date, to date 
### (there were no nulls found in from_date but written function for scalability)

In [24]:
def check_alldates(fromdt,signdt, todt, expirationdt):
    #print(fromdt, todt,signdt, expirationdt)
    delete_rec = 'N' #
    new_fromdt, new_todt = '', '' #set them blanks..spaces
    #print(fromdt, todt, expirationdt)
    
    if fromdt is None:
        if signdt is None:
            delete_rec = 'Y'
        else:
            
            new_fromdt = signdt.date()
    else:
        new_fromdt = fromdt.date()

    if delete_rec == 'N':#I dont want to check the rows I already flagged with not delete
        if todt is None: 
            if expirationdt is None:
                delete_rec = 'Y'
        else:
            new_todt = todt
        
    #print(new_fromdt, new_todt)
    
    if delete_rec == 'N':
        if new_fromdt > new_todt:
            delete_rec = 'Y'   
    return delete_rec, new_fromdt, new_todt

In [25]:
lease_clean = lease.copy()
lease_clean[['delete_rec', 'new_from_date', 'new_to_date']] = \
    lease_clean[['from_date', 'lease_sign_date', 'to_date', 'lease_expiration_date']].apply(lambda x: \
                        check_alldates(x.from_date, x.lease_sign_date, x.to_date, x.lease_expiration_date), axis=1, \
                                                     result_type ='expand')#calling function #expand is to save it in a df
lease_clean['year_from'] = pd.DatetimeIndex(lease_clean['new_from_date']).year.astype('Int64') #change list like result into column
lease_clean['year_to'] = pd.DatetimeIndex(lease_clean['new_to_date']).year.astype('Int64')#to get the years occupied
lease_clean['years_occupied'] = lease_clean['year_to'] - lease_clean['year_from']

In [26]:
lease_clean[lease_clean['years_occupied'] < 0]

Empty DataFrame
Columns: [leasedeal_id, property_id, renewal, sqft_min, sqft_max, date_on_market, date_off_market, days_on_market, actual_vacancy, from_date, to_date, lease_sign_date, lease_expiration_date, lease_term_in_months, rate_actual, estimated_rent, service_type_id, property_type_id, location_occupancy_id, rba, tenant_improvement_allowance_persqft, free_months, construction_year, building_rating_id, research_market_name, cbsaid, cbsa_cities, cbsa_states, submarket_name, zip, currently_occupied_fl, year_on_market, year_off_market, delete_rec, new_from_date, new_to_date, year_from, year_to, years_occupied]
Index: []

In [27]:
#Checking which rows can be gotten rid of
lease_clean[lease_clean['delete_rec'] == 'Y']

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,year_on_market,year_off_market,delete_rec,new_from_date,new_to_date,year_from,year_to,years_occupied
11902,70086006,382083,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,NaN,7.0,5,70086006,1950.0,NaN,NaN,1972.0,3,NaN,45300.0,Tampa-St. Petersburg-Clearwater,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
14536,70172053,227809,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,36.0,NaN,NaN,7.0,5,70172053,1326.0,NaN,NaN,1976.0,3,NaN,38060.0,Phoenix-Mesa-Scottsdale,AZ,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
14824,70084969,93423,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2010-04-30,60.0,NaN,16.360279,7.0,5,70084969,1763.0,NaN,NaN,1930.0,3,Cleveland,17460.0,Cleveland-Elyria,OH,CBD,44113.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
22296,70192751,279348,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,120.0,NaN,32.075497,7.0,5,70192751,2004.0,NaN,NaN,1989.0,4,Orange County (California),11244.0,Anaheim-Santa Ana-Irvine,CA,Newport Beach,92660.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
25409,70472278,225170,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,17.023295,7.0,5,70472278,273.0,NaN,NaN,1968.0,2,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Tempe,85282.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
80429,70317868,674727,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2010-04-30,60.0,NaN,24.418727,7.0,5,70317868,723.0,NaN,NaN,2002.0,3,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Scottsdale Airpark,85260.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
80915,70333238,743163,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,28.778194,7.0,5,70333238,625.0,NaN,NaN,2004.0,4,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,Santa Clarita Valley,91381.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
84180,70428048,389131,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,36.0,NaN,NaN,7.0,5,70428048,275.0,NaN,NaN,1972.0,2,NaN,33124.0,Miami-Miami Beach-Kendall,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
92890,70174923,47752,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,18.834983,9.0,5,70174923,920.0,NaN,NaN,1980.0,2,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,Western SFV,91306.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
94326,70359704,507186,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,21.282539,7.0,5,70359704,2058.0,NaN,NaN,2003.0,4,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,West I-10,85395.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
98551,70096872,591153,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,17.458728,7.0,5,70096872,2749.0,NaN,NaN,1985.0,2,Austin,12420.0,Austin-Round Rock,TX,Northwest,78759.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
112567,70089211,382083,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,NaN,7.0,5,70089211,2668.0,NaN,NaN,1972.0,3,NaN,45300.0,Tampa-St. Petersburg-Clearwater,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
139775,70255897,438595,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,NaN,7.0,5,70255897,180.0,NaN,NaN,1972.0,2,NaN,12060.0,Atlanta-Sandy Springs-Roswell,GA,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
140551,70025252,510767,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,120.0,NaN,21.218237,7.0,5,70025252,409.0,NaN,NaN,1989.0,4,St. Louis,41180.0,St. Louis,MO-IL,CBD,63102.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
179286,70182209,225550,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,22.076657,7.0,5,70182209,958.0,NaN,NaN,1984.0,2,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Camelback Corridor,85018.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
181739,70170578,226034,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,19.930867,2.0,5,70170578,681.0,NaN,NaN,1985.0,3,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Chandler,85225.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
186817,70472753,225170,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,17.023295,7.0,5,70472753,190.0,NaN,NaN,1968.0,2,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Tempe,85282.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
187731,70269318,455643,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,21.123213,4.0,5,70269318,2033.0,NaN,NaN,1985.0,3,Detroit,19820.0,Detroit-Warren-Dearborn,MI,Southfield,48034.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
202860,70420669,226862,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,23.046813,7.0,5,70420669,1421.0,NaN,NaN,1999.0,4,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,West I-10,85395.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
205120,70182218,225550,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,22.076657,7.0,5,70182218,981.0,NaN,NaN,1984.0,2,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Camelback Corridor,85018.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
209618,70051691,248770,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,26.507670,7.0,5,70051691,1291.0,NaN,NaN,1924.0,3,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,Pasadena,91101.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
229029,70389093,442946,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,19.991771,7.0,5,70389093,320.0,NaN,NaN,1964.0,3,Atlanta,12060.0,Atlanta-Sandy Springs-Roswell,GA,Upper Buckhead,30305.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
235521,70135998,139169,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,20.924378,9.0,5,70135998,1420.0,NaN,NaN,1998.0,3,Baltimore,12580.0,Baltimore-Columbia-Towson,MD,Reisterstown Rd Corridor,21208.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
240513,70225199,324605,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,18.112955,11.0,5,70225199,1953.0,NaN,NaN,1973.0,4,East Bay/Oakland,36084.0,Oakland-Hayward-Berkeley,CA,Emeryville,94608.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
256852,70180136,248553,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,22.127138,7.0,5,70180136,1599.0,NaN,NaN,1972.0,4,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,Park Mile,90010.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
266530,70365725,389130,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,NaN,7.0,5,70365725,850.0,NaN,NaN,1972.0,2,NaN,33124.0,Miami-Miami Beach-Kendall,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
267017,70279302,513319,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,NaN,7.0,5,70279302,542.0,NaN,NaN,1928.0,3,NaN,42660.0,Seattle-Tacoma-Bellevue,WA,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
268515,70083080,828577,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2007-04-30,60.0,NaN,20.666167,2.0,5,70083080,575.0,NaN,NaN,1973.0,2,"Washington, DC",47900.0,Washington-Arlington-Alexandria,DC-VA-MD-WV,Vienna,22180.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
270923,70251144,405866,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2010-04-30,60.0,NaN,16.400380,7.0,5,70251144,1797.0,NaN,NaN,2000.0,3,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Superstition Corridor,85209.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
272632,70007809,248653,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,24.591360,7.0,5,70007809,2017.0,NaN,NaN,1989.0,4,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,El Segundo,90045.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
286347,70446665,709211,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,13.800625,7.0,5,70446665,2000.0,NaN,NaN,1982.0,2,Cleveland,17460.0,Cleveland-Elyria,OH,Medina County,44281.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
293470,70429114,389131,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,36.0,NaN,NaN,7.0,5,70429114,275.0,NaN,NaN,1972.0,2,NaN,33124.0,Miami-Miami Beach-Kendall,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
345683,70475228,224803,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,20.156394,7.0,5,70475228,2617.0,NaN,NaN,1985.0,4,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Camelback Corridor,85018.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
391517,70388695,442946,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,19.991771,7.0,5,70388695,908.0,NaN,NaN,1964.0,3,Atlanta,12060.0,Atlanta-Sandy Springs-Roswell,GA,Upper Buckhead,30305.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
441998,70192614,248265,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,23.042146,7.0,5,70192614,2597.0,NaN,NaN,1969.0,3,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,Pasadena,91107.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
442701,70078309,313822,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,18.590118,6.0,5,70078309,653.0,NaN,NaN,1982.0,2,San Diego,41740.0,San Diego-Carlsbad,CA,San Marcos,92078.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
448763,70089216,382083,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,NaN,7.0,5,70089216,1995.0,NaN,NaN,1972.0,3,NaN,45300.0,Tampa-St. Petersburg-Clearwater,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
454904,70435809,380433,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,23.076574,7.0,5,70435809,1469.0,NaN,NaN,1988.0,4,Tampa/St Petersburg,45300.0,Tampa-St. Petersburg-Clearwater,FL,Westshore,33607.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
456092,70089210,382083,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,NaN,7.0,5,70089210,2185.0,NaN,NaN,1972.0,3,NaN,45300.0,Tampa-St. Petersburg-Clearwater,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
457230,70005102,280674,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,24.921102,7.0,5,70005102,906.0,NaN,NaN,1986.0,3,Orange County (California),11244.0,Anaheim-Santa Ana-Irvine,CA,Costa Mesa,92626.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
459068,70235321,380712,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2010-04-30,60.0,NaN,25.177544,7.0,5,70235321,1206.0,NaN,NaN,2000.0,5,Orlando,36740.0,Orlando-Kissimmee-Sanford,FL,Downtown Orlando,32801.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
460531,70229132,41887,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,22.291178,13.0,5,70229132,989.0,NaN,NaN,1979.0,4,South Florida,22744.0,Fort Lauderdale-Pompano Beach-Deerfield Beach,FL,Hollywood,33021.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
461208,70192600,248265,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,23.042146,7.0,5,70192600,1019.0,NaN,NaN,1969.0,3,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,Pasadena,91107.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
462558,70184136,240205,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,20.531602,7.0,5,70184136,352.0,NaN,NaN,1980.0,3,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Greenspoint/N Belt West,77060.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
462855,70246809,380829,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,36.0,NaN,14.998656,7.0,5,70246809,456.0,NaN,NaN,1971.0,2,Orlando,36740.0,Orlando-Kissimmee-Sanford,FL,Orlando Central Park,32809.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
463396,70089224,382083,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,NaN,7.0,5,70089224,1535.0,NaN,NaN,1972.0,3,NaN,45300.0,Tampa-St. Petersburg-Clearwater,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
468690,70465142,493773,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,17.119368,13.0,5,70465142,1946.0,NaN,NaN,1985.0,4,Columbus,18140.0,Columbus,OH,Dublin,43017.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
474736,70089214,382083,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,NaN,7.0,5,70089214,1415.0,NaN,NaN,1972.0,3,NaN,45300.0,Tampa-St. Petersburg-Clearwater,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
493745,70112392,279777,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,26.043251,7.0,5,70112392,1232.0,NaN,NaN,1979.0,3,Orange County (California),11244.0,Anaheim-Santa Ana-Irvine,CA,Irvine/Tustin Legacy,92612.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
496174,70172062,227809,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,36.0,NaN,NaN,7.0,5,70172062,1296.0,NaN,NaN,1976.0,3,NaN,38060.0,Phoenix-Mesa-Scottsdale,AZ,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
518558,70015966,553662,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,18.568067,7.0,5,70015966,983.0,NaN,NaN,1989.0,4,Indianapolis,26900.0,Indianapolis-Carmel-Anderson,IN,CBD,46204.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
519915,70335479,736415,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,21.607127,11.0,5,70335479,1700.0,NaN,NaN,2003.0,3,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Midtown,77006.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
532687,70441808,280381,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,12.0,NaN,NaN,7.0,5,70441808,400.0,NaN,NaN,1974.0,2,NaN,11244.0,Anaheim-Santa Ana-Irvine,CA,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
556430,70465145,493773,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,17.119368,13.0,5,70465145,2146.0,NaN,NaN,1985.0,4,Columbus,18140.0,Columbus,OH,Dublin,43017.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
559568,70079409,887163,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,12.500965,7.0,5,70079409,625.0,NaN,NaN,1981.0,2,Richmond VA,40060.0,Richmond,VA,Iron Bridge Corridor,23832.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
563328,70098955,82333,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,13.361602,9.0,5,70098955,1716.0,NaN,NaN,2001.0,2,Atlanta,12060.0,Atlanta-Sandy Springs-Roswell,GA,N Fulton/Forsyth County,30005.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
570785,70170517,233945,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-01-31,24.0,NaN,21.418153,11.0,5,70170517,2253.0,NaN,NaN,1982.0,4,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Post Oak Park,77027.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
583536,70360577,507186,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,21.282539,7.0,5,70360577,2086.0,NaN,NaN,2003.0,4,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,West I-10,85395.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
585777,70429035,389131,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,36.0,NaN,NaN,7.0,5,70429035,580.0,NaN,NaN,1972.0,2,NaN,33124.0,Miami-Miami Beach-Kendall,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
613321,70194913,280678,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,25.220606,7.0,5,70194913,730.0,NaN,NaN,1986.0,3,Orange County (California),11244.0,Anaheim-Santa Ana-Irvine,CA,Costa Mesa,92626.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
617047,70269321,455643,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,21.123213,4.0,5,70269321,2435.0,NaN,NaN,1985.0,3,Detroit,19820.0,Detroit-Warren-Dearborn,MI,Southfield,48034.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
626021,70013749,400908,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,13.029305,7.0,5,70013749,933.0,NaN,NaN,1977.0,2,Denver,19740.0,Denver-Aurora-Lakewood,CO,Aurora,80011.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
627726,70096352,713911,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,36.0,NaN,12.577144,7.0,5,70096352,900.0,NaN,NaN,1900.0,2,Denver,14500.0,Boulder,CO,Longmont,80501.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
639804,70359910,507186,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,21.282539,7.0,5,70359910,2566.0,NaN,NaN,2003.0,4,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,West I-10,85395.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
640856,70172141,225129,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,20.114067,7.0,5,70172141,2570.0,NaN,NaN,1984.0,3,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,Central Scottsdale,85254.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
667300,70473962,282897,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,60.0,NaN,29.062479,9.0,5,70473962,1252.0,NaN,NaN,1985.0,4,Orange County (California),11244.0,Anaheim-Santa Ana-Irvine,CA,Fountain Valley,92708.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
673807,70197972,237054,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,20.143609,7.0,5,70197972,1105.0,NaN,NaN,1981.0,4,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Westchase,77042.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
703270,70348795,839694,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2006-04-30,36.0,NaN,22.588320,13.0,5,70348795,2925.0,NaN,NaN,1985.0,2,South Florida,22744.0,Fort Lauderdale-Pompano Beach-Deerfield Beach,FL,Plantation,33317.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
703507,70085991,56503,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2007-04-30,60.0,NaN,16.603809,7.0,5,70085991,1300.0,NaN,NaN,1984.0,2,St. Louis,41180.0,St. Louis,MO-IL,Airport,63134.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
721059,70124951,419757,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2010-04-30,120.0,NaN,NaN,7.0,5,70124951,1200.0,NaN,NaN,1968.0,3,NaN,19100.0,Dallas-Fort Worth-Arlington,TX,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
736025,70101402,157036,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2010-04-30,120.0,NaN,40.335284,4.0,5,70101402,890.0,NaN,NaN,1929.0,4,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Grand Central,10168.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
737893,70450792,389128,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,NaN,7.0,5,70450792,622.0,NaN,NaN,1972.0,3,NaN,33124.0,Miami-Miami Beach-Kendall,FL,NaN,NaN,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0
752459,70419929,226862,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2005-04-13,2005-04-12,2005-03-14,2008-04-30,60.0,NaN,23.046813,7.0,5,70419929,1652.0,NaN,NaN,1999.0,4,Phoenix,38060.0,Phoenix-Mesa-Scottsdale,AZ,West I-10,85395.0,N,<NA>,<NA>,Y,2005-04-13,2005-04-12,2005,2005,0

### Update datatypes of construction_year, cbsaid and years_occupied

In [28]:
lease_clean['construction_year'] = lease_clean['construction_year'].astype('object')
lease_clean['cbsaid'] = lease_clean['cbsaid'].astype('object')
lease_clean['years_occupied'] = lease_clean['years_occupied'].astype('Int64')

In [29]:
lease_clean.shape

(1064611, 39)

In [30]:
#selecting rows that are to be kept and clean
lease_clean = lease_clean[lease_clean['delete_rec'] == 'N']
lease_clean.head(10)

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,year_on_market,year_off_market,delete_rec,new_from_date,new_to_date,year_from,year_to,years_occupied
0,110498312,157648,NaN,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006,2006,N,2006-10-05,2014-04-29,2006,2014,8
1,30028220,76048,NaN,NaN,NaN,NaT,NaT,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N,<NA>,<NA>,N,1982-01-15,2001-04-15,1982,2001,19
2,30187227,559441,NaN,NaN,NaN,NaT,NaT,NaN,NaN,1986-01-15,2000-03-14,1985-12-16,2000-03-14,170.0,NaN,NaN,NaN,5,30187227,NaN,NaN,NaN,1985.0,2,Kansas City,28140.0,Kansas City,MO-KS,I-29 Corridor,64152.0,N,<NA>,<NA>,N,1986-01-15,2000-03-14,1986,2000,14
3,114096677,239837,NaN,1388.0,1388.0,2013-12-31,2014-03-31,90.0,1.0,2014-02-14,2015-02-12,2014-01-15,2015-02-13,12.0,NaN,18.914058,7.0,5,122849533,1388.0,NaN,NaN,1972.0,2,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.0,N,2013,2014,N,2014-02-14,2015-02-12,2014,2015,1
4,10587417,220914,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2001-06-30,NaT,2001-05-01,2006-06-30,60.0,NaN,21.278033,NaN,5,10587417,7200.0,NaN,NaN,1906.0,2,Boston,14460.0,Boston-Cambridge-Newton,MA-NH,Route 3 South,2382.0,Y,<NA>,<NA>,N,2001-06-30,NaT,2001,<NA>,<NA>
5,112542119,158280,NaN,1748.0,1748.0,2011-09-30,2011-12-31,92.0,1.0,2011-12-01,2016-12-31,2011-11-01,2016-11-30,60.0,NaN,43.792460,4.0,5,119795017,1748.0,NaN,NaN,1890.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Chelsea,10001.0,N,2011,2011,N,2011-12-01,2016-12-31,2011,2016,5
6,110870155,5432828,NaN,4340.0,4340.0,2006-12-31,2007-06-30,181.0,1.0,2007-05-07,2015-07-18,2007-04-09,2012-05-01,60.0,NaN,15.285945,13.0,5,112965808,4341.0,NaN,1.0,1977.0,2,Other Market Areas,47940.0,Waterloo-Cedar Falls,IA,NaN,50677.0,N,2006,2007,N,2007-05-07,2015-07-18,2007,2015,8
7,176410481,6123667,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2018-08-01,2019-07-31,NaT,2019-07-31,12.0,NaN,NaN,NaN,5,276168081,1200.0,NaN,NaN,1972.0,2,Wichita,48620.0,Wichita,KS,Downtown,67214.0,N,<NA>,<NA>,N,2018-08-01,2019-07-31,2018,2019,1
8,112426408,1277351,NaN,2262.0,2262.0,2009-03-31,2011-09-30,913.0,1.0,2008-09-14,2008-09-15,2011-08-22,2014-03-20,30.0,9.5,14.511821,13.0,5,119404081,2262.0,NaN,NaN,1981.0,2,Milwaukee/Madison,31540.0,Madison,WI,Northeast Madison,53704.0,N,2009,2011,N,2008-09-14,2008-09-15,2008,2008,0
9,70269244,455643,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2004-09-30,2005-04-12,2004-08-31,2007-10-31,60.0,NaN,20.963555,4.0,5,70269244,1048.0,NaN,NaN,1985.0,3,Detroit,19820.0,Detroit-Warren-Dearborn,MI,Southfield,48034.0,N,<NA>,<NA>,N,2004-09-30,2005-04-12,2004,2005,1

In [31]:
#Looking at few columns
lease_clean[['from_date', 'lease_sign_date', 'to_date', 'lease_expiration_date', 'delete_rec', 'new_from_date', 'new_to_date',
            'currently_occupied_fl']]

,from_date,lease_sign_date,to_date,lease_expiration_date,delete_rec,new_from_date,new_to_date,currently_occupied_fl
0,2006-10-05,2006-09-05,2014-04-29,2011-10-05,N,2006-10-05,2014-04-29,N
1,1982-01-15,1981-12-16,2001-04-15,2000-04-14,N,1982-01-15,2001-04-15,N
2,1986-01-15,1985-12-16,2000-03-14,2000-03-14,N,1986-01-15,2000-03-14,N
3,2014-02-14,2014-01-15,2015-02-12,2015-02-13,N,2014-02-14,2015-02-12,N
4,2001-06-30,2001-05-01,NaT,2006-06-30,N,2001-06-30,NaT,Y
...,...,...,...,...,...,...,...,...
1064606,2009-01-01,2008-11-18,2016-11-30,2014-01-01,N,2009-01-01,2016-11-30,N
1064607,1988-06-15,1988-05-16,1988-06-15,1997-12-14,N,1988-06-15,1988-06-15,N
1064608,2012-05-15,2012-04-15,NaT,2015-05-14,N,2012-05-15,NaT,Y
1064609,2002-02-01,2002-01-01,2002-03-04,2003-01-31,N,2002-02-01,2002-03-04,N
1064610,2012-09-19,2012-09-19,2016-01-24,2015-09-18,N,2012-09-19,2016-01-24,N

### Filling the remaining null submarket_name values with cbsa_cities values

In [32]:
lease_clean['submarket_name'].fillna(lease_clean['cbsa_cities'], inplace=True)

In [33]:
#Checking the maximum days_on_market value
np.nanmax(lease_clean[lease_clean['days_on_market'].notnull()]['days_on_market'])

11506.0

In [34]:
lease_clean.shape

(1064496, 39)

In [35]:
len(pd.unique(lease_clean.property_id))

175352

In [36]:
lease_clean.columns

Index(['leasedeal_id', 'property_id', 'renewal', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'from_date', 'to_date', 'lease_sign_date', 'lease_expiration_date',
       'lease_term_in_months', 'rate_actual', 'estimated_rent',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenant_improvement_allowance_persqft', 'free_months',
       'construction_year', 'building_rating_id', 'research_market_name',
       'cbsaid', 'cbsa_cities', 'cbsa_states', 'submarket_name', 'zip',
       'currently_occupied_fl', 'year_on_market', 'year_off_market',
       'delete_rec', 'new_from_date', 'new_to_date', 'year_from', 'year_to',
       'years_occupied'],
      dtype='object')

### Calculate actual_estimated_rent_ratio

In [37]:
lease_clean['actual_esti_rent_ratio'] = lease_clean['rate_actual'] / lease_clean['estimated_rent']

In [38]:
lease_clean.head(2)

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,year_on_market,year_off_market,delete_rec,new_from_date,new_to_date,year_from,year_to,years_occupied,actual_esti_rent_ratio
0,110498312,157648,NaN,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006,2006,N,2006-10-05,2014-04-29,2006,2014,8,NaN
1,30028220,76048,NaN,NaN,NaN,NaT,NaT,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N,<NA>,<NA>,N,1982-01-15,2001-04-15,1982,2001,19,NaN

### Function to change into timestamp for calculations

In [39]:
def standard_ts_format(df, col, dt_format):
    return pd.to_datetime(df[col], format=dt_format)
lease_clean['date_on_market'] = standard_ts_format(lease_clean, 'date_on_market', '%Y-%m-%d') 
lease_clean['date_off_market'] = standard_ts_format(lease_clean, 'date_off_market', '%Y-%m-%d')
 
lease_clean['new_from_date'] = standard_ts_format(lease_clean, 'from_date', '%Y-%m-%d')
lease_clean['new_to_date'] = standard_ts_format(lease_clean, 'to_date','%Y-%m-%d')

### Creating variables occupied_months and vacant_months

In [40]:
lease_clean['occupied_months'] = (lease_clean['new_to_date'].dt.year - lease_clean['new_from_date'].dt.year) * 12 + \
        (lease_clean['new_to_date'].dt.month - lease_clean['new_from_date'].dt.month)

lease_clean['vacant_months'] = (lease_clean['date_off_market'].dt.year - lease_clean['date_on_market'].dt.year) * 12 + \
        (lease_clean['date_off_market'].dt.month - lease_clean['date_on_market'].dt.month)

In [41]:
lease_clean.columns

Index(['leasedeal_id', 'property_id', 'renewal', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'from_date', 'to_date', 'lease_sign_date', 'lease_expiration_date',
       'lease_term_in_months', 'rate_actual', 'estimated_rent',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenant_improvement_allowance_persqft', 'free_months',
       'construction_year', 'building_rating_id', 'research_market_name',
       'cbsaid', 'cbsa_cities', 'cbsa_states', 'submarket_name', 'zip',
       'currently_occupied_fl', 'year_on_market', 'year_off_market',
       'delete_rec', 'new_from_date', 'new_to_date', 'year_from', 'year_to',
       'years_occupied', 'actual_esti_rent_ratio', 'occupied_months',
       'vacant_months'],
      dtype='object')

In [42]:
lease_clean.head()

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,year_on_market,year_off_market,delete_rec,new_from_date,new_to_date,year_from,year_to,years_occupied,actual_esti_rent_ratio,occupied_months,vacant_months
0,110498312,157648,NaN,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006,2006,N,2006-10-05,2014-04-29,2006,2014,8,NaN,90.0,9.0
1,30028220,76048,NaN,NaN,NaN,NaT,NaT,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N,<NA>,<NA>,N,1982-01-15,2001-04-15,1982,2001,19,NaN,231.0,NaN
2,30187227,559441,NaN,NaN,NaN,NaT,NaT,NaN,NaN,1986-01-15,2000-03-14,1985-12-16,2000-03-14,170.0,NaN,NaN,NaN,5,30187227,NaN,NaN,NaN,1985.0,2,Kansas City,28140.0,Kansas City,MO-KS,I-29 Corridor,64152.0,N,<NA>,<NA>,N,1986-01-15,2000-03-14,1986,2000,14,NaN,170.0,NaN
3,114096677,239837,NaN,1388.0,1388.0,2013-12-31,2014-03-31,90.0,1.0,2014-02-14,2015-02-12,2014-01-15,2015-02-13,12.0,NaN,18.914058,7.0,5,122849533,1388.0,NaN,NaN,1972.0,2,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.0,N,2013,2014,N,2014-02-14,2015-02-12,2014,2015,1,NaN,12.0,3.0
4,10587417,220914,NaN,NaN,NaN,NaT,NaT,NaN,NaN,2001-06-30,NaT,2001-05-01,2006-06-30,60.0,NaN,21.278033,NaN,5,10587417,7200.0,NaN,NaN,1906.0,2,Boston,14460.0,Boston-Cambridge-Newton,MA-NH,Route 3 South,2382.0,Y,<NA>,<NA>,N,2001-06-30,NaT,2001,<NA>,<NA>,NaN,NaN,NaN

### Lease without downtime data

In [43]:
#Include columns we need for this dataset
lease_without_downtime= lease_clean[['leasedeal_id', 'property_id', 'renewal',
       'from_date', 'to_date', 'lease_sign_date', 'lease_expiration_date',
       'lease_term_in_months', 'rate_actual', 'estimated_rent', 'actual_esti_rent_ratio',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenant_improvement_allowance_persqft', 'free_months', 'construction_year',
       'building_rating_id', 'research_market_name', 'cbsaid', 'cbsa_cities',
       'cbsa_states', 'submarket_name', 'zip', 'currently_occupied_fl',
     'new_from_date','new_to_date', 'year_from', 'year_to',
       'years_occupied', 'occupied_months']]

lease_without_downtime=lease_without_downtime.drop_duplicates()
print(lease_without_downtime.shape)
lease_without_downtime.head(2)

(1054868, 32)

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0
1,30028220,76048,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N,1982-01-15,2001-04-15,1982,2001,19,231.0

In [44]:
lease_without_downtime.groupby('leasedeal_id').agg({'property_id':'count'}).reset_index().sort_values(by='property_id',
                                                                                ascending=False)[:100]

        leasedeal_id  property_id
0           10000015            1
703203     112409075            1
703237     112409275            1
703238     112409284            1
703239     112409291            1
703240     112409293            1
703241     112409295            1
703242     112409296            1
703243     112409297            1
703244     112409304            1
703245     112409305            1
703246     112409306            1
703247     112409307            1
703248     112409309            1
703249     112409313            1
703250     112409319            1
703251     112409321            1
703252     112409328            1
703253     112409335            1
703254     112409337            1
703255     112409340            1
703256     112409344            1
703257     112409345            1
703258     112409349            1
703259     112409351            1
703260     112409360            1
703261     112409362            1
703262     112409363            1
703263     112409365            1
703264     112409367            1
703265     112409369            1
703236     112409274            1
703235     112409273            1
703234     112409272            1
703218     112409187            1
703205     112409105            1
703206     112409106            1
703207     112409107            1
703208     112409111            1
703209     112409121            1
703210     112409129            1
703211     112409137            1
703212     112409146            1
703213     112409151            1
703214     112409155            1
703215     112409159            1
703216     112409180            1
703217     112409183            1
703219     112409191            1
703233     112409270            1
703220     112409193            1
703221     112409194            1
703222     112409212            1
703223     112409216            1
703224     112409217            1
703225     112409226            1
703226     112409236            1
703227     112409243            1
703228     112409246            1
703229     112409247            1
703230     112409252            1
703231     112409263            1
703232     112409266            1
703266     112409371            1
703267     112409374            1
703268     112409375            1
703315     112409723            1
703302     112409618            1
703303     112409642            1
703304     112409676            1
703305     112409678            1
703306     112409685            1
703307     112409690            1
703308     112409692            1
703309     112409693            1
703310     112409695            1
703311     112409698            1
703312     112409701            1
703313     112409706            1
703314     112409721            1
703316     112409728            1
703300     112409602            1
703317     112409743            1
703318     112409749            1
703319     112409751            1
703320     112409755            1
703321     112409777            1
703322     112409778            1
703323     112409786            1
703324     112409788            1
703325     112409789            1
703326     112409798            1
703327     112409801            1
703328     112409806            1
703329     112409811            1
703301     112409611            1
703299     112409598            1
703269     112409376            1
703283     112409490            1
703270     112409401            1

### Lease with downtime

In [45]:
lease_clean.columns

Index(['leasedeal_id', 'property_id', 'renewal', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'from_date', 'to_date', 'lease_sign_date', 'lease_expiration_date',
       'lease_term_in_months', 'rate_actual', 'estimated_rent',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenant_improvement_allowance_persqft', 'free_months',
       'construction_year', 'building_rating_id', 'research_market_name',
       'cbsaid', 'cbsa_cities', 'cbsa_states', 'submarket_name', 'zip',
       'currently_occupied_fl', 'year_on_market', 'year_off_market',
       'delete_rec', 'new_from_date', 'new_to_date', 'year_from', 'year_to',
       'years_occupied', 'actual_esti_rent_ratio', 'occupied_months',
       'vacant_months'],
      dtype='object')

In [46]:
lease_with_downtime = lease_clean[['leasedeal_id', 'property_id', 'renewal', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'lease_term_in_months', 'rate_actual', 'estimated_rent', 'actual_esti_rent_ratio',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenant_improvement_allowance_persqft', 'free_months', 'construction_year',
       'building_rating_id', 'research_market_name', 'cbsaid', 'cbsa_cities',
       'cbsa_states', 'submarket_name', 'zip', 'currently_occupied_fl',
       'year_on_market', 'year_off_market', 
       'vacant_months']]
lease_with_downtime = lease_with_downtime.drop_duplicates()

In [47]:
lease_with_downtime.shape

(1064386, 31)

In [48]:
#Drop the number of null columns
lease_with_downtime = lease_with_downtime[~(lease_with_downtime['date_off_market'].isnull())]

In [49]:
lease_with_downtime.date_on_market.isnull().sum()

0

In [50]:
lease_with_downtime.shape

(587873, 31)

In [51]:
lease_with_downtime.groupby('leasedeal_id').agg({'property_id':'count'}).reset_index().sort_values(by='property_id',
                                                                                ascending=False)[:900]

        leasedeal_id  property_id
324160     112668627           19
379992     113666086           11
267456     112234470           10
441386     114433640           10
479832     118058441            9
479825     118057811            9
27060      110198517            9
394802     113817180            8
382004     113686242            8
571075     165745721            8
399657     113878406            8
438855     114404919            8
474094     117077851            7
505881     121628931            7
432004     114228371            7
264792     112212648            7
272451     112275177            7
507885     121918311            7
500354     120896571            7
21757      110148473            7
338597     113199323            7
358538     113427950            6
269426     112254574            6
420003     114090723            6
319973     112628920            6
471796     116761631            6
569079     164386971            6
310462     112531346            6
358575     113428176            6
234793     112017805            6
399192     113873649            6
448714     114507841            6
370522     113553940            6
362800     113471716            6
271472     112269227            6
487913     119187481            6
472795     116883421            6
12896      110080415            5
411157     113999897            5
545066     131094101            5
575519     168395591            5
124872     111134174            5
418670     114077062            5
14830      110093963            5
339883     113211650            5
364632     113492272            5
335348     112764658            5
539248     129522671            5
111781     111030808            5
283051     112347812            5
549177     132453661            5
257836     112162369            5
338796     113201144            5
140158     111245358            5
99166      110939551            5
326042     112682778            5
439215     114409329            5
222745     111935963            5
379421     113660146            5
318160     112609245            5
194551     111721970            5
361728     113462017            5
452965     114754451            5
574265     167677721            5
139564     111241053            5
406251     113950581            5
495521     120249131            5
198311     111749816            5
396848     113844170            5
491043     119626761            5
429666     114204083            5
57520      110520144            5
527853     125971231            5
435299     114263042            5
13023      110081278            5
145973     111288383            5
289130     112386044            5
143614     111270006            5
316360     112595450            5
386934     113732611            5
118610     111084216            5
498842     120701601            5
152636     111345111            5
572318     166499471            5
393696     113805310            5
409559     113984063            5
528530     126127451            5
470113     116571181            5
254596     112142974            5
428109     114188371            5
34601      110279178            5
317708     112604877            5
34388      110276657            5
503838     121339071            5
225116     111950889            5
282709     112345254            5
370208     113550344            4
412564     114012726            4
576960     169693901            4
257210     112158187            4
175761     111551164            4
354909     113393465            4
366356     113507503            4
347873     113321053            4
297560     112439348            4
299736     112452482            4
122218     111113342            4
359878     113439302            4
497959     120570991            4
521149     124177081            4
219058     111910399            4
496971     120428611            4
5979       110039199            4
261031     112184954            4
267055     112230720            4
341917     113232023            4
490264     119518521            4
264437     112210003            4
551349     134251051            4
508334     121989601            4
203708     111784970            4
471491     116726821            4
187287     111640031            4
281495     112336002            4
568758     164125331            4
281492     112335955            4
266359     112224940            4
454826     114941101            4
478961     117949961            4
420035     114091005            4
441691     114436641            4
520014     123778561            4
298242     112443310            4
204779     111793549            4
545205     131137531            4
67500      110617339            4
506830     121758051            4
382096     113686948            4
73585      110676643            4
573637     167293741            4
264737     112212282            4
246756     112095091            4
255090     112145997            4
507376     121837231            4
343007     113253344            4
206979     111813431            4
268374     112243614            4
214539     111870806            4
404933     113935686            4
399784     113880218            4
235024     112019809            4
225651     111954579            4
573606     167276421            4
507169     121809241            4
485485     118879751            4
470213     116588791            4
255211     112146589            4
439253     114409739            4
346788     113308015            4
449491     114515118            4
173240     111529418            4
380386     113669596            4
247460     112099375            4
238085     112040975            4
255216     112146613            4
348895     113332574            4
394135     113810361            4
440067     114419799            4
33490      110267036            4
531289     126818281            4
308729     112514698            4
100737     110951370            4
556712     155593461            4
21399      110145343            4
25870      110187868            4
329696     112715534            4
126584     111147591            4
456457     115102041            4
477942     117810551            4
259044     112170254            4
77725      110716427            4
78872      110727602            4
500497     120917621            4
267819     112237981            4
568590     163982041            4
252789     112132243            4
572689     166729631            4
304729     112487018            4
154052     111357733            4
569938     164984951            4
290109     112392014            4
342124     113234156            4
370225     113550489            4
386027     113725324            4
29732      110227079            4
576429     169136371            4
574334     167718921            4
501115     121016131            4
442241     114442879            4
334487     112757686            4
142467     111262011            4
143947     111272725            4
576432     169137941            4
293405     112413363            4
239248     112048154            4
155748     111372889            4
213814     111865049            4
445852     114478754            4
504584     121448581            4
571275     165889121            4
216141     111883744            4
477123     117667881            4
141668     111255795            4
400422     113886698            4
502498     121174021            4
21306      110144490            4
129820     111170452            4
396971     113846033            4
458898     115344691            4
306630     112500020            4
246962     112096568            4
429920     114206335            4
255000     112145494            4
157855     111393165            4
463056     115755291            4
516215     123056021            4
434478     114254718            4
215065     111875038            4
408239     113971298            4
245363     112086647            4
435918     114269138            4
476848     117609781            4
277635     112310274            4
277691     112310821            4
225459     111953101            4
473271     116939091            4
220366     111919669            4
341688     113229571            4
566558     161014131            4
186481     111633472            4
423220     114124976            4
367069     113514657            4
220408     111919914            4
272449     112275167            4
575397     168320371            4
458028     115249261            4
359175     113433178            4
574185     167615641            4
404699     113933295            4
96553      110918832            4
275506     112295343            4
275380     112294396            4
443017     114450399            4
494764     120162591            4
256896     112156417            4
364618     113492189            4
568357     163812971            4
510886     122387501            4
391467     113777611            4
306085     112496259            4
416295     114051532            4
285788     112365428            4
78709      110726063            4
215060     111875018            4
301285     112462728            4
235383     112022683            4
550248     133103531            4
325375     112677790            4
142251     111260426            4
570519     165383831            4
464268     115864831            4
466913     116135531            4
271390     112268533            4
475564     117348831            4
369584     113543181            4
313602     112574686            4
269835     112258703            4
421996     114111568            4
392857     113795286            4
283221     112348805            3
455290     114992901            3
339218     113205411            3
74882      110690999            3
345091     113286274            3
222827     111936542            3
120456     111100776            3
574863     168014851            3
540509     129848771            3
64692      110584946            3
430277     114210343            3
210468     111840986            3
342683     113245323            3
263989     112206778            3
195001     111726784            3
474150     117086401            3
328230     112701238            3
310066     112527294            3
568130     163545671            3
257655     112161183            3
412784     114014861            3
472462     116843971            3
145128     111281533            3
271932     112272305            3
482881     118479801            3
413082     114017689            3
219760     111915575            3
257834     112162364            3
362422     113468632            3
575974     168801111            3
358008     113423275            3
211155     111846032            3
381101     113676593            3
296820     112434551            3
411762     114005836            3
375311     113618697            3
445804     114478338            3
284358     112356155            3
128162     111159250            3
225579     111954033            3
145969     111288358            3
454237     114877581            3
9831       110060654            3
320397     112633269            3
54368      110494404            3
302094     112468768            3
411822     114006296            3
348004     113322917            3
308164     112510250            3
455288     114992581            3
168919     111495979            3
182215     111602499            3
287677     112377343            3
531775     126929701            3
341307     113224918            3
231787     111997613            3
321600     112647825            3
386579     113730221            3
468856     116352051            3
438649     114402675            3
8309       110052145            3
518187     123280601            3
485070     118821371            3
362414     113468534            3
572189     166423701            3
379548     113661551            3
400622     113889191            3
314461     112582685            3
435792     114267771            3
126585     111147592            3
241642     112062499            3
430671     114214432            3
510472     122325411            3
269871     112258906            3
31177      110243234            3
573688     167331691            3
572313     166493631            3
28208      110210591            3
535372     128011551            3
409229     113980627            3
298430     112444231            3
455960     115055561            3
211220     111846522            3
153546     111353458            3
158433     111398990            3
153255     111350615            3
574839     167998041            3
408499     113973684            3
200554     111764162            3
200555     111764209            3
462553     115708991            3
443163     114451879            3
302812     112473447            3
436770     114277520            3
311809     112555053            3
235385     112022702            3
341017     113221503            3
413540     114021894            3
464467     115883251            3
213319     111861531            3
559946     157144501            3
225027     111950476            3
328845     112707353            3
571235     165865131            3
246971     112096616            3
572348     166521141            3
271984     112272609            3
576840     169557291            3
318419     112613061            3
444036     114461397            3
382297     113688904            3
493659     120008441            3
268481     112244849            3
543346     130618371            3
480282     118128901            3
570684     165485211            3
172216     111521919            3
232129     112000332            3
452260     114687441            3
317266     112601542            3
711        110008772            3
536197     128381181            3
521025     124126321            3
458486     115296661            3
367077     113514688            3
267896     112238760            3
529884     126480021            3
574113     167572071            3
210472     111840995            3
332471     112740089            3
143076     111266524            3
527459     125868411            3
241656     112062615            3
362398     113468005            3
500515     120921171            3
441501     114434661            3
443917     114460183            3
372911     113584025            3
321372     112643582            3
275172     112293090            3
152631     111345050            3
475233     117269421            3
574107     167567821            3
256895     112156415            3
250840     112119962            3
481125     118248731            3
382284     113688783            3
389641     113758663            3
560440     157427061            3
462183     115673881            3
244550     112081114            3
202014     111774200            3
105322     110983271            3
390849     113771265            3
537769     128985761            3
305373     112491469            3
424969     114150596            3
451239     114593711            3
218577     111903982            3
383011     113696925            3
491338     119675221            3
216154     111883873            3
80626      110747135            3
318369     112612528            3
395764     113830732            3
118645     111084820            3
263292     112201973            3
345074     113286187            3
243022     112070902            3
423250     114125315            3
562713     158858041            3
475170     117255161            3
72388      110664595            3
107105     110997742            3
25631      110185537            3
328596     112705166            3
393619     113803960            3
477736     117779041            3
574974     168081861            3
414815     114034612            3
416970     114058826            3
293057     112410670            3
468740     116331671            3
190243     111670869            3
426681     114173819            3
281089     112333146            3
156101     111376258            3
373309     113591883            3
156192     111377292            3
52877      110481309            3
570357     165255261            3
327684     112696177            3
493292     119960831            3
313323     112571871            3
456950     115149311            3
434531     114255051            3
286640     112370802            3
493764     120020201            3
576311     169042921            3
345754     113294282            3
438569     114401789            3
15745      110099920            3
59574      110537949            3
388407     113746585            3
278635     112317666            3
234224     112013421            3
464849     115922861            3
38366      110323892            3
539677     129629241            3
142880     111265038            3
316203     112594389            3
370178     113550138            3
135764     111213820            3
227130     111964262            3
291812     112402372            3
464856     115923611            3
169457     111500371            3
176415     111556629            3
465016     115940171            3
250712     112119147            3
422242     114114360            3
116790     111065515            3
513712     122736041            3
257843     112162419            3
510261     122293121            3
222729     111935873            3
491066     119630641            3
354018     113384712            3
362745     113471376            3
207464     111817179            3
467230     116169491            3
455178     114981361            3
571439     165983401            3
571849     166216491            3
506339     121690481            3
535595     128123851            3
184597     111619688            3
298583     112445389            3
451943     114658011            3
493781     120023491            3
571833     166211141            3
163610     111443568            3
254315     112140983            3
132152     111187201            3
414831     114034758            3
534052     127529241            3
191230     111682626            3
373258     113590104            3
283056     112347831            3
433444     114244077            3
279233     112321477            3
366972     113514029            3
456947     115148901            3
284589     112357686            3
497888     120555341            3
418174     114071789            3
273078     112279005            3
210408     111840607            3
458809     115332891            3
25552      110185192            3
355179     113396003            3
497879     120554711            3
193629     111710383            3
441656     114436395            3
231601     111996308            3
240576     112056000            3
4141       110028643            3
175091     111545553            3
215614     111879736            3
311621     112552680            3
149129     111311672            3
446039     114481046            3
350906     113353488            3
152867     111346904            3
362851     113472451            3
14536      110091947            3
141188     111252242            3
534252     127592071            3
441785     114437951            3
314316     112581521            3
226479     111959961            3
570172     165128591            3
123125     111121196            3
433253     114241804            3
368705     113533733            3
234895     112018711            3
570177     165129031            3
112654     111036952            3
337066     112778586            3
231645     111996561            3
346609     113305735            3
479735     118045901            3
160485     111415315            3
265778     112220465            3
364828     113494287            3
222678     111935557            3
425748     114163092            3
284731     112358449            3
468880     116355881            3
526415     125576661            3
337365     112781077            3
39296      110344848            3
436304     114273099            3
372881     113583562            3
74820      110690026            3
219602     111914489            3
200837     111766131            3
431662     114224951            3

In [52]:
lease_with_downtime.columns

Index(['leasedeal_id', 'property_id', 'renewal', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'lease_term_in_months', 'rate_actual', 'estimated_rent',
       'actual_esti_rent_ratio', 'service_type_id', 'property_type_id',
       'location_occupancy_id', 'rba', 'tenant_improvement_allowance_persqft',
       'free_months', 'construction_year', 'building_rating_id',
       'research_market_name', 'cbsaid', 'cbsa_cities', 'cbsa_states',
       'submarket_name', 'zip', 'currently_occupied_fl', 'year_on_market',
       'year_off_market', 'vacant_months'],
      dtype='object')

In [53]:
#Dropping duplicate leasedealid's
lease_with_downtime.drop_duplicates(subset='leasedeal_id', keep = False, inplace = True)
lease_with_downtime

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,year_on_market,year_off_market,vacant_months
0,110498312,157648,NaN,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006,2006,9.0
3,114096677,239837,NaN,1388.0,1388.0,2013-12-31,2014-03-31,90.0,1.0,12.0,NaN,18.914058,NaN,7.0,5,122849533,1388.0,NaN,NaN,1972.0,2,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.0,N,2013,2014,3.0
5,112542119,158280,NaN,1748.0,1748.0,2011-09-30,2011-12-31,92.0,1.0,60.0,NaN,43.792460,NaN,4.0,5,119795017,1748.0,NaN,NaN,1890.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Chelsea,10001.0,N,2011,2011,3.0
6,110870155,5432828,NaN,4340.0,4340.0,2006-12-31,2007-06-30,181.0,1.0,60.0,NaN,15.285945,NaN,13.0,5,112965808,4341.0,NaN,1.0,1977.0,2,Other Market Areas,47940.0,Waterloo-Cedar Falls,IA,Waterloo-Cedar Falls,50677.0,N,2006,2007,6.0
8,112426408,1277351,NaN,2262.0,2262.0,2009-03-31,2011-09-30,913.0,1.0,30.0,9.5,14.511821,0.654639,13.0,5,119404081,2262.0,NaN,NaN,1981.0,2,Milwaukee/Madison,31540.0,Madison,WI,Northeast Madison,53704.0,N,2009,2011,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064601,110794275,248465,NaN,3708.0,3708.0,2007-06-30,2007-09-30,92.0,1.0,36.0,NaN,19.301398,NaN,7.0,5,112788389,3720.0,NaN,1.0,1958.0,3,Los Angeles,31084.0,Los Angeles-Long Beach-Glendale,CA,Park Mile,90010.0,N,2007,2007,3.0
1064605,119754101,7314056,NaN,2032.0,2032.0,2009-12-31,2015-12-31,2191.0,1.0,12.0,NaN,14.170486,NaN,13.0,5,134605381,2032.0,NaN,NaN,2000.0,1,Other Market Areas,27420.0,Jamestown,ND,Jamestown,58401.0,N,2009,2015,72.0
1064606,111384471,300227,NaN,1750.0,1750.0,2008-06-30,2009-03-31,274.0,1.0,60.0,NaN,21.513206,NaN,4.0,5,114180680,1750.0,NaN,NaN,1965.0,3,Philadelphia,37980.0,Philadelphia-Camden-Wilmington,PA-NJ-DE-MD,Market Street West,19102.0,N,2008,2009,9.0
1064608,113201416,4157322,NaN,2500.0,2500.0,2011-06-30,2012-06-30,366.0,1.0,36.0,15.0,15.071205,0.995275,6.0,5,120804094,2500.0,NaN,NaN,1923.0,2,Chicago,16980.0,Chicago-Naperville-Elgin,IL-IN-WI,Fulton Market/Near West Side,60607.0,Y,2011,2012,12.0
1064610,113371055,5573489,NaN,986.0,986.0,2009-12-31,2012-09-30,1004.0,1.0,36.0,15.5,15.653862,0.990171,7.0,5,121253938,986.0,NaN,NaN,1930.0,3,Boise City/Nampa,14260.0,Boise City,ID,Downtown Boise,83702.0,N,2009,2012,33.0

In [54]:
print(lease_with_downtime.shape )

(570371, 31)

In [55]:
lease_with_downtime_v1 = lease_with_downtime[['leasedeal_id', 'sqft_min', 'sqft_max', 'date_on_market', 'date_off_market',
       'days_on_market', 'actual_vacancy', 'year_on_market', 'year_off_market',
       'vacant_months']]
lease_clean_oct27 = pd.merge(lease_without_downtime,lease_with_downtime_v1, on='leasedeal_id', how='outer')
lease_clean_oct27

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,year_on_market,year_off_market,vacant_months
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006,2006,9.0
1,30028220,76048,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N,1982-01-15,2001-04-15,1982,2001,19,231.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
2,30187227,559441,NaN,1986-01-15,2000-03-14,1985-12-16,2000-03-14,170.0,NaN,NaN,NaN,NaN,5,30187227,NaN,NaN,NaN,1985.0,2,Kansas City,28140.0,Kansas City,MO-KS,I-29 Corridor,64152.0,N,1986-01-15,2000-03-14,1986,2000,14,170.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3,114096677,239837,NaN,2014-02-14,2015-02-12,2014-01-15,2015-02-13,12.0,NaN,18.914058,NaN,7.0,5,122849533,1388.0,NaN,NaN,1972.0,2,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.0,N,2014-02-14,2015-02-12,2014,2015,1,12.0,1388.0,1388.0,2013-12-31,2014-03-31,90.0,1.0,2013,2014,3.0
4,10587417,220914,NaN,2001-06-30,NaT,2001-05-01,2006-06-30,60.0,NaN,21.278033,NaN,NaN,5,10587417,7200.0,NaN,NaN,1906.0,2,Boston,14460.0,Boston-Cambridge-Newton,MA-NH,Route 3 South,2382.0,Y,2001-06-30,NaT,2001,<NA>,<NA>,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054863,111384471,300227,NaN,2009-01-01,2016-11-30,2008-11-18,2014-01-01,60.0,NaN,21.513206,NaN,4.0,5,114180680,1750.0,NaN,NaN,1965.0,3,Philadelphia,37980.0,Philadelphia-Camden-Wilmington,PA-NJ-DE-MD,Market Street West,19102.0,N,2009-01-01,2016-11-30,2009,2016,7,94.0,1750.0,1750.0,2008-06-30,2009-03-31,274.0,1.0,2008,2009,9.0
1054864,30011451,61383,NaN,1988-06-15,1988-06-15,1988-05-16,1997-12-14,114.0,NaN,NaN,NaN,11.0,5,30011451,NaN,NaN,NaN,1902.0,4,Pittsburgh,38300.0,Pittsburgh,PA,CBD,15219.0,N,1988-06-15,1988-06-15,1988,1988,0,0.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1054865,113201416,4157322,NaN,2012-05-15,NaT,2012-04-15,2015-05-14,36.0,15.0,15.071205,0.995275,6.0,5,120804094,2500.0,NaN,NaN,1923.0,2,Chicago,16980.0,Chicago-Naperville-Elgin,IL-IN-WI,Fulton Market/Near West Side,60607.0,Y,2012-05-15,NaT,2012,<NA>,<NA>,NaN,2500.0,2500.0,2011-06-30,2012-06-30,366.0,1.0,2011,2012,12.0
1054866,10541376,303542,NaN,2002-02-01,2002-03-04,2002-01-01,2003-01-31,12.0,NaN,32.398496,NaN,13.0,5,10541376,2395.0,NaN,NaN,1964.0,2,South Bay/San Jose,41940.0,San Jose-Sunnyvale-Santa Clara,CA,Los Gatos/Saratoga,95030.0,N,2002-02-01,2002-03-04,2002,2002,0,1.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1054867,113371055,5573489,NaN,2012-09-19,2016-01-24,2012-09-19,2015-09-18,36.0,15.5,15.653862,0.990171,7.0,5,121253938,986.0,NaN,NaN,1930.0,3,Boise City/Nampa,14260.0,Boise City,ID,Downtown Boise,83702.0,N,2012-09-19,2016-01-24,2012,2016,4,40.0,986.0,986.0,2009-12-31,2012-09-30,1004.0,1.0,2009,2012,33.0

In [56]:
lease_clean_oct27[lease_clean_oct27['cbsaid'].isnull()]

Empty DataFrame
Columns: [leasedeal_id, property_id, renewal, from_date, to_date, lease_sign_date, lease_expiration_date, lease_term_in_months, rate_actual, estimated_rent, actual_esti_rent_ratio, service_type_id, property_type_id, location_occupancy_id, rba, tenant_improvement_allowance_persqft, free_months, construction_year, building_rating_id, research_market_name, cbsaid, cbsa_cities, cbsa_states, submarket_name, zip, currently_occupied_fl, new_from_date, new_to_date, year_from, year_to, years_occupied, occupied_months, sqft_min, sqft_max, date_on_market, date_off_market, days_on_market, actual_vacancy, year_on_market, year_off_market, vacant_months]
Index: []

### Creating a new column cbsa_state_new which will contain single state

In [57]:
lease_clean_oct27['cbsa_state_new'] = lease_clean_oct27['cbsa_states']

lease_clean_oct27.loc[lease_clean_oct27.zip == 98607, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98660, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98661, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98662, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98663, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98664, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98665, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98682, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98683, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98684, 'cbsa_state_new'] = "WA"
lease_clean_oct27.loc[lease_clean_oct27.zip == 98687, 'cbsa_state_new'] = "WA"

In [58]:
#NY-NJ change the cbsa_state of the Jersey City zip codes to NJ
#had to drop the leading "0"s from the zipcodes

lease_clean_oct27.loc[lease_clean_oct27.zip == 7030, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7032, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7087, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7094, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7302, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7304, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7305, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7306, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7307, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7310, 'cbsa_state_new'] = "NJ"
lease_clean_oct27.loc[lease_clean_oct27.zip == 7311, 'cbsa_state_new'] = "NJ"

In [59]:
lease_clean_oct27.head()

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,year_on_market,year_off_market,vacant_months,cbsa_state_new
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006,2006,9.0,NY-NJ
1,30028220,76048,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N,1982-01-15,2001-04-15,1982,2001,19,231.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,MO-KS
2,30187227,559441,NaN,1986-01-15,2000-03-14,1985-12-16,2000-03-14,170.0,NaN,NaN,NaN,NaN,5,30187227,NaN,NaN,NaN,1985.0,2,Kansas City,28140.0,Kansas City,MO-KS,I-29 Corridor,64152.0,N,1986-01-15,2000-03-14,1986,2000,14,170.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,MO-KS
3,114096677,239837,NaN,2014-02-14,2015-02-12,2014-01-15,2015-02-13,12.0,NaN,18.914058,NaN,7.0,5,122849533,1388.0,NaN,NaN,1972.0,2,Houston,26420.0,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.0,N,2014-02-14,2015-02-12,2014,2015,1,12.0,1388.0,1388.0,2013-12-31,2014-03-31,90.0,1.0,2013,2014,3.0,TX
4,10587417,220914,NaN,2001-06-30,NaT,2001-05-01,2006-06-30,60.0,NaN,21.278033,NaN,NaN,5,10587417,7200.0,NaN,NaN,1906.0,2,Boston,14460.0,Boston-Cambridge-Newton,MA-NH,Route 3 South,2382.0,Y,2001-06-30,NaT,2001,<NA>,<NA>,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,MA-NH

In [60]:
#removed the leading space in the cbsa_states column
lease_clean_oct27.cbsa_state_new = lease_clean_oct27.cbsa_state_new.str.lstrip()

In [61]:
#keep first two characters of the multi states
lease_clean_oct27.cbsa_state_new = lease_clean_oct27.cbsa_state_new.str[:2]

In [62]:
lease_clean_oct27.shape

(1054868, 42)

In [63]:
lease_clean_oct27.head(2)

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,year_on_market,year_off_market,vacant_months,cbsa_state_new
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006,2006,9.0,NY
1,30028220,76048,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,NaN,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,Ward Parkway,64114.0,N,1982-01-15,2001-04-15,1982,2001,19,231.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,MO

In [64]:
#Rearrange the columns
lease_clean_oct27 = lease_clean_oct27[['leasedeal_id', 'property_id', 'renewal', 'from_date', 'to_date',
       'lease_sign_date', 'lease_expiration_date', 'lease_term_in_months',
       'rate_actual', 'estimated_rent', 'actual_esti_rent_ratio',
       'service_type_id', 'property_type_id', 'location_occupancy_id', 'rba',
       'tenant_improvement_allowance_persqft', 'free_months',
       'construction_year', 'building_rating_id', 'research_market_name',
       'cbsaid', 'cbsa_cities', 'cbsa_states', 'cbsa_state_new', 'submarket_name', 'zip',
       'currently_occupied_fl', 'new_from_date', 'new_to_date', 'year_from',
       'year_to', 'years_occupied', 'occupied_months', 'sqft_min', 'sqft_max',
       'date_on_market', 'date_off_market', 'days_on_market', 'actual_vacancy',
       'year_on_market', 'year_off_market', 'vacant_months']]

In [65]:
lease_clean_oct27.head(1)

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,cbsa_state_new,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,year_on_market,year_off_market,vacant_months
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,NY,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006,2006,9.0

In [66]:
lease_clean_oct27.describe().T

,count,mean,std,min,25%,50%,75%,max
leasedeal_id,1054868.0,9.097523e+07,4.096594e+07,1.000002e+07,7.009045e+07,1.113164e+08,1.135006e+08,1.873890e+08
property_id,1054868.0,1.256598e+06,2.217581e+06,1.000000e+00,1.785070e+05,3.814555e+05,7.876910e+05,1.158921e+07
renewal,214775.0,7.200512e-01,4.489748e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
lease_term_in_months,1054868.0,4.810610e+01,3.989575e+01,0.000000e+00,2.400000e+01,3.600000e+01,6.000000e+01,1.236000e+03
rate_actual,215738.0,2.249681e+01,3.538347e+02,0.000000e+00,1.200000e+01,1.620000e+01,2.200000e+01,8.400000e+04
estimated_rent,916616.0,2.276925e+01,1.094788e+01,1.060077e+00,1.627733e+01,2.021465e+01,2.586487e+01,1.222861e+03
actual_esti_rent_ratio,213635.0,1.098423e+00,1.848203e+01,0.000000e+00,7.551587e-01,8.980032e-01,1.009387e+00,3.344603e+03
service_type_id,821251.0,8.260764e+00,2.825951e+00,1.000000e+00,7.000000e+00,7.000000e+00,1.000000e+01,1.900000e+01
property_type_id,1054868.0,5.000000e+00,0.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
location_occupancy_id,1054868.0,9.988617e+07,5.304982e+07,1.000002e+07,7.009335e+07,1.140252e+08,1.215981e+08,2.842046e+08
rba,1030073.0,5.275826e+03,1.708625e+04,0.000000e+00,1.012000e+03,2.000000e+03,4.155000e+03,2.000000e+06
tenant_improvement_allowance_persqft,22305.0,1.115883e+01,1.917842e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.355000e+03
free_months,137705.0,1.582194e+00,1.774542e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.850000e+02
building_rating_id,1054868.0,2.905640e+00,8.030809e-01,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00
zip,1024968.0,5.293312e+04,3.092719e+04,1.001000e+03,2.760800e+04,4.834100e+04,8.091500e+04,9.980100e+04
years_occupied,787357.0,4.587115e+00,4.063611e+00,0.000000e+00,2.000000e+00,4.000000e+00,6.000000e+00,1.180000e+02
occupied_months,787357.0,5.514301e+01,4.903921e+01,0.000000e+00,2.100000e+01,4.400000e+01,7.500000e+01,1.426000e+03
sqft_min,570371.0,2.799949e+03,5.436221e+03,1.000000e+00,8.920000e+02,1.503000e+03,2.860000e+03,4.969840e+05
sqft_max,570371.0,3.097171e+03,6.148978e+03,1.000000e+00,9.140000e+02,1.600000e+03,3.052000e+03,4.969840e+05
days_on_market,570371.0,5.888238e+02,6.757986e+02,0.000000e+00,1.810000e+02,3.650000e+02,7.310000e+02,1.150600e+04
actual_vacancy,570371.0,8.767013e-01,3.287800e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
vacant_months,570371.0,1.934536e+01,2.220284e+01,0.000000e+00,6.000000e+00,1.200000e+01,2.400000e+01,3.780000e+02

In [67]:
#Check how many rows each leasedealid has
lease_clean_oct27.groupby('leasedeal_id').agg({'property_id':'count'}).reset_index().sort_values(by='property_id',
                                                                                ascending=False)[:900]

        leasedeal_id  property_id
0           10000015            1
703203     112409075            1
703237     112409275            1
703238     112409284            1
703239     112409291            1
703240     112409293            1
703241     112409295            1
703242     112409296            1
703243     112409297            1
703244     112409304            1
703245     112409305            1
703246     112409306            1
703247     112409307            1
703248     112409309            1
703249     112409313            1
703250     112409319            1
703251     112409321            1
703252     112409328            1
703253     112409335            1
703254     112409337            1
703255     112409340            1
703256     112409344            1
703257     112409345            1
703258     112409349            1
703259     112409351            1
703260     112409360            1
703261     112409362            1
703262     112409363            1
703263     112409365            1
703264     112409367            1
703265     112409369            1
703236     112409274            1
703235     112409273            1
703234     112409272            1
703218     112409187            1
703205     112409105            1
703206     112409106            1
703207     112409107            1
703208     112409111            1
703209     112409121            1
703210     112409129            1
703211     112409137            1
703212     112409146            1
703213     112409151            1
703214     112409155            1
703215     112409159            1
703216     112409180            1
703217     112409183            1
703219     112409191            1
703233     112409270            1
703220     112409193            1
703221     112409194            1
703222     112409212            1
703223     112409216            1
703224     112409217            1
703225     112409226            1
703226     112409236            1
703227     112409243            1
703228     112409246            1
703229     112409247            1
703230     112409252            1
703231     112409263            1
703232     112409266            1
703266     112409371            1
703267     112409374            1
703268     112409375            1
703315     112409723            1
703302     112409618            1
703303     112409642            1
703304     112409676            1
703305     112409678            1
703306     112409685            1
703307     112409690            1
703308     112409692            1
703309     112409693            1
703310     112409695            1
703311     112409698            1
703312     112409701            1
703313     112409706            1
703314     112409721            1
703316     112409728            1
703300     112409602            1
703317     112409743            1
703318     112409749            1
703319     112409751            1
703320     112409755            1
703321     112409777            1
703322     112409778            1
703323     112409786            1
703324     112409788            1
703325     112409789            1
703326     112409798            1
703327     112409801            1
703328     112409806            1
703329     112409811            1
703301     112409611            1
703299     112409598            1
703269     112409376            1
703283     112409490            1
703270     112409401            1
703271     112409427            1
703272     112409432            1
703273     112409436            1
703274     112409445            1
703275     112409446            1
703276     112409447            1
703277     112409459            1
703278     112409462            1
703279     112409471            1
703280     112409474            1
703281     112409478            1
703282     112409488            1
703284     112409496            1
703298     112409596            1
703285     112409497            1
703286     112409509            1
703287     112409511            1
703288     112409513            1
703289     112409516            1
703290     112409517            1
703291     112409545            1
703292     112409550            1
703293     112409573            1
703294     112409574            1
703295     112409578            1
703296     112409579            1
703297     112409581            1
703204     112409095            1
703202     112409072            1
703331     112409821            1
703201     112409070            1
703108     112408448            1
703109     112408451            1
703110     112408455            1
703111     112408459            1
703112     112408463            1
703113     112408466            1
703114     112408525            1
703115     112408526            1
703116     112408527            1
703117     112408535            1
703118     112408544            1
703119     112408545            1
703120     112408560            1
703121     112408575            1
703122     112408579            1
703123     112408581            1
703124     112408611            1
703125     112408627            1
703126     112408636            1
703127     112408641            1
703128     112408643            1
703129     112408644            1
703130     112408649            1
703131     112408651            1
703132     112408664            1
703133     112408671            1
703134     112408675            1
703135     112408676            1
703136     112408685            1
703107     112408446            1
703106     112408444            1
703105     112408436            1
703089     112408334            1
703076     112408264            1
703077     112408267            1
703078     112408272            1
703079     112408277            1
703080     112408283            1
703081     112408298            1
703082     112408305            1
703083     112408306            1
703084     112408309            1
703085     112408312            1
703086     112408315            1
703087     112408321            1
703088     112408327            1
703090     112408340            1
703104     112408435            1
703091     112408351            1
703092     112408359            1
703093     112408361            1
703094     112408371            1
703095     112408373            1
703096     112408374            1
703097     112408384            1
703098     112408396            1
703099     112408408            1
703100     112408413            1
703101     112408422            1
703102     112408425            1
703103     112408428            1
703137     112408696            1
703138     112408699            1
703139     112408703            1
703186     112408933            1
703173     112408848            1
703174     112408857            1
703175     112408865            1
703176     112408879            1
703177     112408881            1
703178     112408902            1
703179     112408906            1
703180     112408909            1
703181     112408913            1
703182     112408916            1
703183     112408920            1
703184     112408924            1
703185     112408926            1
703187     112408934            1
703171     112408845            1
703188     112408945            1
703189     112408946            1
703190     112408947            1
703191     112408952            1
703192     112408955            1
703193     112408960            1
703194     112409015            1
703195     112409017            1
703196     112409018            1
703197     112409019            1
703198     112409042            1
703199     112409046            1
703200     112409056            1
703172     112408846            1
703170     112408843            1
703140     112408705            1
703154     112408757            1
703141     112408706            1
703142     112408709            1
703143     112408712            1
703144     112408714            1
703145     112408715            1
703146     112408716            1
703147     112408719            1
703148     112408729            1
703149     112408731            1
703150     112408735            1
703151     112408739            1
703152     112408743            1
703153     112408750            1
703155     112408762            1
703169     112408828            1
703156     112408763            1
703157     112408767            1
703158     112408774            1
703159     112408775            1
703160     112408778            1
703161     112408781            1
703162     112408795            1
703163     112408805            1
703164     112408807            1
703165     112408808            1
703166     112408809            1
703167     112408822            1
703168     112408823            1
703330     112409813            1
703332     112409850            1
704619     112417515            1
703461     112410794            1
703495     112411006            1
703496     112411012            1
703497     112411015            1
703498     112411022            1
703499     112411025            1
703500     112411026            1
703501     112411043            1
703502     112411044            1
703503     112411046            1
703504     112411050            1
703505     112411056            1
703506     112411082            1
703507     112411084            1
703508     112411090            1
703509     112411096            1
703510     112411105            1
703511     112411112            1
703512     112411114            1
703513     112411115            1
703514     112411118            1
703515     112411121            1
703516     112411139            1
703517     112411141            1
703518     112411154            1
703519     112411159            1
703520     112411160            1
703521     112411213            1
703522     112411225            1
703523     112411227            1
703494     112411004            1
703493     112411003            1
703492     112411002            1
703476     112410917            1
703463     112410810            1
703464     112410818            1
703465     112410832            1
703466     112410834            1
703467     112410842            1
703468     112410850            1
703469     112410876            1
703470     112410881            1
703471     112410885            1
703472     112410886            1
703473     112410889            1
703474     112410890            1
703475     112410891            1
703477     112410930            1
703491     112410999            1
703478     112410931            1
703479     112410932            1
703480     112410952            1
703481     112410965            1
703482     112410971            1
703483     112410983            1
703484     112410984            1
703485     112410987            1
703486     112410990            1
703487     112410994            1
703488     112410996            1
703489     112410997            1
703490     112410998            1
703524     112411239            1
703525     112411249            1
703526     112411252            1
703573     112411620            1
703560     112411475            1
703561     112411487            1
703562     112411500            1
703563     112411532            1
703564     112411558            1
703565     112411563            1
703566     112411567            1
703567     112411573            1
703568     112411589            1
703569     112411598            1
703570     112411603            1
703571     112411607            1
703572     112411619            1
703574     112411623            1
703558     112411462            1
703575     112411627            1
703576     112411632            1
703577     112411643            1
703578     112411657            1
703579     112411660            1
703580     112411671            1
703581     112411675            1
703582     112411680            1
703583     112411681            1
703584     112411684            1
703585     112411685            1
703586     112411689            1
703587     112411691            1
703559     112411463            1
703557     112411458            1
703527     112411253            1
703541     112411367            1
703528     112411274            1
703529     112411283            1
703530     112411286            1
703531     112411300            1
703532     112411304            1
703533     112411307            1
703534     112411312            1
703535     112411314            1
703536     112411316            1
703537     112411317            1
703538     112411332            1
703539     112411342            1
703540     112411359            1
703542     112411377            1
703556     112411455            1
703543     112411379            1
703544     112411381            1
703545     112411384            1
703546     112411395            1
703547     112411407            1
703548     112411419            1
703549     112411423            1
703550     112411427            1
703551     112411431            1
703552     112411443            1
703553     112411445            1
703554     112411451            1
703555     112411452            1
703462     112410804            1
703460     112410790            1
703333     112409851            1
703459     112410788            1
703366     112410060            1
703367     112410067            1
703368     112410069            1
703369     112410073            1
703370     112410079            1
703371     112410081            1
703372     112410082            1
703373     112410085            1
703374     112410093            1
703375     112410097            1
703376     112410104            1
703377     112410108            1
703378     112410116            1
703379     112410123            1
703380     112410124            1
703381     112410128            1
703382     112410142            1
703383     112410144            1
703384     112410145            1
703385     112410152            1
703386     112410159            1
703387     112410170            1
703388     112410182            1
703389     112410195            1
703390     112410200            1
703391     112410201            1
703392     112410203            1
703393     112410210            1
703394     112410213            1
703365     112410052            1
703364     112410051            1
703363     112410049            1
703347     112409948            1
703334     112409853            1
703335     112409861            1
703336     112409867            1
703337     112409872            1
703338     112409878            1
703339     112409881            1
703340     112409888            1
703341     112409889            1
703342     112409891            1
703343     112409899            1
703344     112409922            1
703345     112409927            1
703346     112409931            1
703348     112409952            1
703362     112410048            1
703349     112409956            1
703350     112409963            1
703351     112409966            1
703352     112409974            1
703353     112410006            1
703354     112410008            1
703355     112410015            1
703356     112410019            1
703357     112410020            1
703358     112410023            1
703359     112410028            1
703360     112410038            1
703361     112410044            1
703395     112410217            1
703396     112410221            1
703397     112410231            1
703444     112410604            1
703431     112410453            1
703432     112410457            1
703433     112410459            1
703434     112410463            1
703435     112410525            1
703436     112410527            1
703437     112410543            1
703438     112410544            1
703439     112410546            1
703440     112410557            1
703441     112410569            1
703442     112410570            1
703443     112410577            1
703445     112410612            1
703429     112410430            1
703446     112410613            1
703447     112410619            1
703448     112410658            1
703449     112410670            1
703450     112410679            1
703451     112410688            1
703452     112410743            1
703453     112410744            1
703454     112410750            1
703455     112410764            1
703456     112410767            1
703457     112410770            1
703458     112410784            1
703430     112410451            1
703428     112410424            1
703398     112410232            1
703412     112410336            1
703399     112410245            1
703400     112410246            1
703401     112410247            1
703402     112410248            1
703403     112410251            1
703404     112410252            1
703405     112410254            1
703406     112410260            1
703407     112410284            1
703408     112410323            1
703409     112410325            1
703410     112410326            1
703411     112410335            1
703413     112410342            1
703427     112410422            1
703414     112410344            1
703415     112410352            1
703416     112410376            1
703417     112410378            1
703418     112410380            1
703419     112410381            1
703420     112410391            1
703421     112410392            1
703422     112410410            1
703423     112410417            1
703424     112410418            1
703425     112410419            1
703426     112410421            1
703075     112408262            1
703074     112408261            1
703073     112408260            1
702688     112405907            1
702722     112406082            1
702723     112406087            1
702724     112406088            1
702725     112406090            1
702726     112406094            1
702727     112406099            1
702728     112406102            1
702729     112406109            1
702730     112406111            1
702731     112406115            1
702732     112406119            1
702733     112406125            1
702734     112406127            1
702735     112406130            1
702736     112406133            1
702737     112406138            1
702738     112406146            1
702739     112406158            1
702740     112406168            1
702741     112406172            1
702742     112406180            1
702743     112406181            1
702744     112406184            1
702745     112406185            1
702746     112406187            1
702747     112406210            1
702748     112406216            1
702749     112406228            1
702750     112406229            1
702721     112406081            1
702720     112406077            1
702719     112406076            1
702703     112405975            1
702690     112405917            1
702691     112405919            1
702692     112405921            1
702693     112405924            1
702694     112405935            1
702695     112405938            1
702696     112405944            1
702697     112405946            1
702698     112405963            1
702699     112405967            1
702700     112405968            1
702701     112405969            1
702702     112405970            1
702704     112405976            1
702718     112406067            1
702705     112405983            1
702706     112406002            1
702707     112406006            1
702708     112406009            1
702709     112406016            1
702710     112406017            1
702711     112406019            1
702712     112406023            1
702713     112406037            1
702714     112406038            1
702715     112406039            1
702716     112406058            1
702717     112406059            1
702751     112406230            1
702752     112406242            1
702753     112406243            1
702800     112406557            1
702787     112406493            1
702788     112406504            1
702789     112406507            1
702790     112406527            1

In [68]:
lease_clean_oct27.shape

(1054868, 42)

In [69]:
lease_clean_oct27.dtypes

leasedeal_id                                     int64
property_id                                      int64
renewal                                        float64
from_date                               datetime64[ns]
to_date                                 datetime64[ns]
lease_sign_date                         datetime64[ns]
lease_expiration_date                   datetime64[ns]
lease_term_in_months                           float64
rate_actual                                    float64
estimated_rent                                 float64
actual_esti_rent_ratio                         float64
service_type_id                                float64
property_type_id                                 int64
location_occupancy_id                            int64
rba                                            float64
tenant_improvement_allowance_persqft           float64
free_months                                    float64
construction_year                               object
building_rating_id                               int64
research_market_name                            object
cbsaid                                          object
cbsa_cities                                     object
cbsa_states                                     object
cbsa_state_new                                  object
submarket_name                                  object
zip                                            float64
currently_occupied_fl                           object
new_from_date                           datetime64[ns]
new_to_date                             datetime64[ns]
year_from                                       object
year_to                                         object
years_occupied                                   Int64
occupied_months                                float64
sqft_min                                       float64
sqft_max                                       float64
date_on_market                          datetime64[ns]
date_off_market                         datetime64[ns]
days_on_market                                 float64
actual_vacancy                                 float64
year_on_market                                  object
year_off_market                                 object
vacant_months                                  float64
dtype: object

### Not include rows where lease_term_in_months = 0

In [70]:
lease_clean_oct27 = lease_clean_oct27[~(lease_clean_oct27['lease_term_in_months']==0)]

In [71]:
lease_clean_oct27.shape

(1038594, 42)

### Impute Estimated rent column null values in 4 steps
Total null values are 128080

First use actual_rent to impute estimated_rent

Second by submarket_name and building_rating_id

Third by submarket_name

Fourth by cbsaid

In [72]:
lease_clean_oct27['estimated_rent'].isnull().sum()

128080

In [73]:
lease_clean_oct27['estimated_rent'].fillna(lease_clean_oct27['rate_actual'], inplace=True)

In [74]:
lease_clean_oct27['estimated_rent'].isnull().sum()

125979

In [75]:
#Impute estimated_rent using submarket_name and building_rating_id
mean_estimated_rent = lease_clean_oct27.groupby(['submarket_name', 'building_rating_id']).\
            agg({'estimated_rent': 'mean'}).reset_index()

estimated_rent_group = lease_clean_oct27[(lease_clean_oct27['estimated_rent'].isnull())][['leasedeal_id', 'submarket_name', 'cbsaid',
                                                                           'building_rating_id', 'estimated_rent']]
estimated_rent_merge = pd.merge(estimated_rent_group, mean_estimated_rent, \
                on=['submarket_name', 'building_rating_id'], how='left').drop(columns=['estimated_rent_x']).\
                rename(columns={'estimated_rent_y': 'estimated_rent'})

lease_clean_oct27 = pd.merge(lease_clean_oct27, estimated_rent_merge[['leasedeal_id', 'estimated_rent']], on='leasedeal_id',
                                                       how='left')
lease_clean_oct27['estimated_rent_x'].fillna(lease_clean_oct27.estimated_rent_y, inplace=True)
lease_clean_oct27 = lease_clean_oct27.drop(columns=['estimated_rent_y']).\
        rename(columns = {'estimated_rent_x': 'estimated_rent'})
lease_clean_oct27.head(2)

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,cbsa_state_new,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,year_on_market,year_off_market,vacant_months
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,NY,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006,2006,9.0
1,30028220,76048,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,16.819759,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,MO,Ward Parkway,64114.0,N,1982-01-15,2001-04-15,1982,2001,19,231.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [76]:
lease_clean_oct27['estimated_rent'].isnull().sum()

905

In [77]:
#Impute the remaining 905 estimated rent null values using submarket_name
mean_estimated_rent = lease_clean_oct27.groupby(['submarket_name']).\
            agg({'estimated_rent': 'mean'}).reset_index()

estimated_rent_group = lease_clean_oct27[(lease_clean_oct27['estimated_rent'].isnull())][['leasedeal_id', 'submarket_name', 
                                                                        'cbsaid', 'estimated_rent']]
estimated_rent_merge = pd.merge(estimated_rent_group, mean_estimated_rent, \
                on=['submarket_name'], how='left').drop(columns=['estimated_rent_x']).\
                rename(columns={'estimated_rent_y': 'estimated_rent'})

lease_clean_oct27 = pd.merge(lease_clean_oct27, estimated_rent_merge[['leasedeal_id', 'estimated_rent']], on='leasedeal_id',
                                                       how='left')
lease_clean_oct27['estimated_rent_x'].fillna(lease_clean_oct27.estimated_rent_y, inplace=True)
lease_clean_oct27 = lease_clean_oct27.drop(columns=['estimated_rent_y']).\
        rename(columns = {'estimated_rent_x': 'estimated_rent'})
lease_clean_oct27.head(2)

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,cbsa_state_new,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,year_on_market,year_off_market,vacant_months
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,NY,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006,2006,9.0
1,30028220,76048,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,16.819759,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,MO,Ward Parkway,64114.0,N,1982-01-15,2001-04-15,1982,2001,19,231.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [78]:
lease_clean_oct27[lease_clean_oct27['estimated_rent'].isnull()].shape

(116, 42)

In [79]:
#Finally impute the remaining 116 null estimated rent using cbsaid. We are left with 7 null rows after this which is ok
mean_estimated_rent = lease_clean_oct27.groupby(['cbsaid']).\
            agg({'estimated_rent': 'mean'}).reset_index()

estimated_rent_group = lease_clean_oct27[(lease_clean_oct27['estimated_rent'].isnull())][['leasedeal_id', 'cbsaid', 
                                                                        'estimated_rent']]
estimated_rent_merge = pd.merge(estimated_rent_group, mean_estimated_rent, \
                on=['cbsaid'], how='left').drop(columns=['estimated_rent_x']).\
                rename(columns={'estimated_rent_y': 'estimated_rent'})

lease_clean_oct27 = pd.merge(lease_clean_oct27, estimated_rent_merge[['leasedeal_id', 'estimated_rent']], on='leasedeal_id',
                                                       how='left')
lease_clean_oct27['estimated_rent_x'].fillna(lease_clean_oct27.estimated_rent_y, inplace=True)
lease_clean_oct27 = lease_clean_oct27.drop(columns=['estimated_rent_y']).\
        rename(columns = {'estimated_rent_x': 'estimated_rent'})
lease_clean_oct27.head(2)

,leasedeal_id,property_id,renewal,from_date,to_date,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,actual_esti_rent_ratio,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_persqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,cbsa_state_new,submarket_name,zip,currently_occupied_fl,new_from_date,new_to_date,year_from,year_to,years_occupied,occupied_months,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,year_on_market,year_off_market,vacant_months
0,110498312,157648,NaN,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.0,NaN,39.202936,NaN,4.0,5,111764312,3650.0,NaN,NaN,1928.0,3,New York City,35614.0,New York-Jersey City-White Plains,NY-NJ,NY,Murray Hill,10016.0,N,2006-10-05,2014-04-29,2006,2014,8,90.0,3650.0,3650.0,2006-03-31,2006-12-31,275.0,1.0,2006,2006,9.0
1,30028220,76048,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.0,NaN,16.819759,NaN,11.0,5,30028220,NaN,NaN,NaN,1977.0,3,Kansas City,28140.0,Kansas City,MO-KS,MO,Ward Parkway,64114.0,N,1982-01-15,2001-04-15,1982,2001,19,231.0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [80]:
lease_clean_oct27[lease_clean_oct27['estimated_rent'].isnull()].shape

(7, 42)

In [106]:
lease_clean_oct27.estimated_rent = lease_clean_oct27.estimated_rent.round(2)

lease_clean_oct27.actual_esti_rent_ratio = lease_clean_oct27.actual_esti_rent_ratio.round(2)

In [107]:
lease_clean_oct27[lease_clean_oct27['cbsaid']==35614.0]['estimated_rent'].mean()

40.52641706072185

In [108]:
lease_clean_oct27.shape

(1038594, 42)

In [109]:
lease_clean_oct27.dtypes

leasedeal_id                                     int64
property_id                                      int64
renewal                                        float64
from_date                               datetime64[ns]
to_date                                 datetime64[ns]
lease_sign_date                         datetime64[ns]
lease_expiration_date                   datetime64[ns]
lease_term_in_months                           float64
rate_actual                                    float64
estimated_rent                                 float64
actual_esti_rent_ratio                         float64
service_type_id                                float64
property_type_id                                 int64
location_occupancy_id                            int64
rba                                            float64
tenant_improvement_allowance_persqft           float64
free_months                                    float64
construction_year                               object
building_rating_id                               int64
research_market_name                            object
cbsaid                                          object
cbsa_cities                                     object
cbsa_states                                     object
cbsa_state_new                                  object
submarket_name                                  object
zip                                            float64
currently_occupied_fl                           object
new_from_date                           datetime64[ns]
new_to_date                             datetime64[ns]
year_from                                       object
year_to                                         object
years_occupied                                   Int64
occupied_months                                float64
sqft_min                                       float64
sqft_max                                       float64
date_on_market                          datetime64[ns]
date_off_market                         datetime64[ns]
days_on_market                                 float64
actual_vacancy                                 float64
year_on_market                                  object
year_off_market                                 object
vacant_months                                  float64
dtype: object