## Pandas

In [36]:
import pandas as pd

demo = pd.read_csv(r'C:\Users\clark\Desktop\DAPT Courses\semester_2\622_stat_multivariate\assignment2\Demographics.txt', sep=',')
#df = pd.read_excel(r'../file.csv")
#https://docs.python.org/3/library/codecs.html#standard-encodings
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
demo.head(3)

,County_name,State,Region_num,Location,Square_miles,Population,Pop_Size_Group,Pct_Age18_to_34,Pct_65_or_over,Num_physicians,Num_hospital_beds,Num_serious_crimes,Pct_High_Sch_grads,Pct_Bachelors,Pct_below_poverty,Pct_unemployed,Per_cap_income,Total_personal_income
0,Los_Angeles,CA,4,West,4060,8863164,Large,32.1,9.7,23677,27700,688936,70.0,22.3,11.6,8.0,20786,184230
1,Cook,IL,2,East,946,5105067,Large,29.2,12.4,15153,21550,436936,73.4,22.8,11.1,7.2,21729,110928
2,Harris,TX,3,West,1729,2818199,Large,31.3,7.1,7553,12449,253526,74.9,25.4,12.5,5.7,19517,55003

In [37]:
demo.shape
demo.Pop_Size_Group.value_counts()

Medium    159
Large     142
Small     139
Name: Pop_Size_Group, dtype: int64

In [44]:
drop_cols = ['County_name', 'State', 'Region_num', 'Location', 'Population']

demo = demo.drop(drop_cols, axis=1)

#demo[['County_name', 'State']]