# A quick introduction to _`pandas`_ dataframe.

### Define the input data

In [2]:
import pandas as pd

planets_dict = {'Planet': ['Mercury','Venus','Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
                'Distance': [36.0, 67.24, 92.9, 141.71, 483.88, 887.14, 1783.98, 2796.46],
                'Diameter': [3032.4, 7519, 7926.2, 4194, 88736, 74978, 32193, 30775]}

### Create a `pandas` dataframe

In [3]:
df = pd.DataFrame.from_dict(planets_dict)

print(df)

    Planet  Distance  Diameter
0  Mercury     36.00    3032.4
1    Venus     67.24    7519.0
2    Earth     92.90    7926.2
3     Mars    141.71    4194.0
4  Jupiter    483.88   88736.0
5   Saturn    887.14   74978.0
6   Uranus   1783.98   32193.0
7  Neptune   2796.46   30775.0

In [4]:
 df.index

RangeIndex(start=0, stop=8, step=1)

In [5]:
df.columns

Index(['Planet', 'Distance', 'Diameter'], dtype='object')

You can change the row index to a specific column.

### Set index

In [6]:
df = df.set_index('Planet')

df.head()

         Distance  Diameter
Planet
Mercury     36.00    3032.4
Venus       67.24    7519.0
Earth       92.90    7926.2
Mars       141.71    4194.0
Jupiter    483.88   88736.0

In [7]:
df.index

Index(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus',
       'Neptune'],
      dtype='object', name='Planet')

### Retrieve values

Select a specific row from the dataframe.

In [8]:
df.loc['Mercury']

Distance      36.0
Diameter    3032.4
Name: Mercury, dtype: float64

This operation returns a _`pandas`_ series.

In [9]:
type(df.loc['Mercury'])

pandas.core.series.Series

A _`pandas`_ series is a one-dimensional labeled array.

Select a specific value from the series.

In [10]:
df.loc['Mercury']['Diameter']

3032.4

Directly grab this value from the dataframe.

In [11]:
df.loc['Mercury', 'Diameter']

3032.4

The format is: `dataframe-name.loc[row-label, column-label]`.

Grab the diameters of _all_ planets. In other words, grab all values from a single column.

In [12]:
df.loc[:, 'Diameter']

Planet
Mercury     3032.4
Venus       7519.0
Earth       7926.2
Mars        4194.0
Jupiter    88736.0
Saturn     74978.0
Uranus     32193.0
Neptune    30775.0
Name: Diameter, dtype: float64

This returns a _`pandas`_ series. We can also grab the values from this series.

In [14]:
df.loc[:, 'Diameter'].values

array([ 3032.4,  7519. ,  7926.2,  4194. , 88736. , 74978. , 32193. ,
       30775. ])

We can also select multiple columns from the dataframe.

In [18]:
df.loc[:, ['Diameter', 'Distance']]

         Diameter  Distance
Planet
Mercury    3032.4     36.00
Venus      7519.0     67.24
Earth      7926.2     92.90
Mars       4194.0    141.71
Jupiter   88736.0    483.88
Saturn    74978.0    887.14
Uranus    32193.0   1783.98
Neptune   30775.0   2796.46

This would retrun a _`pandas`_ dataframe (not a series).